*{
	margin:0;
	padding:0;
	color:#333;
	font-family: "微软雅黑";
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.w1200{
	max-width: 1200px;
	margin:0 auto;
}
.dis{
	display: flex;
}
.dis-o{
	display: flex;
	justify-content: space-between
}
.dis-t{
	display: flex;
	justify-content: space-around
}
.nowarp-o{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.nowarp-t(@num){
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: @num;
	overflow: hidden;
}
.guodu(@miao){
	transition: all @miao;
	-moz-transition: all @miao;
	-webkit-transition: all @miao;
	-o-transition: all @miao;
}
@color:#b60005;
.main-title{
	.w1200;
	text-align: center;
	margin:40px auto;
	h2{
		font-weight: 500;
		letter-spacing: 3px;
		font-size: 30px;
		color: #000;
	}
	p{
		width: 100%;
		height: 16px;
		line-height: 18px;
		font-size: 15px;
		margin-top: 5px;
	}
}
.fiexd{
	position: fixed;
	bottom:100px;
	right:0;
	width:50px;
	background: @color;
	text-align:center;
	opacity: .7;
	img{
		width:100%;
		vertical-align: bottom;
	}
	span{
		color:#fff;
		font-size: 12px;
	}
	&:hover{
		opacity: 1;
	}
}
.mhm-header{
	.tobar{
		background:#f9f9f9;
		border-bottom:solid 1px #eee;
		.tobar-main{
			display: flex;
			justify-content: space-between;
			height:30px;
			line-height: 30px;
			.w1200;
			span{
				color:#888;
				font-size: 12px;
				padding:0 5px;
			}
			a{
				color:#888;
				font-size: 14px;
				font-style:normal;
				font-weight: 400;
			}
		}
	}
	.toheader{
		.w1200;
		.dis-o;
		height:120px;
		.header-logo{
			height:60px;
			margin-top:40px;
			img{
				height:100%;
			}
		}
		.header-center{
			margin-top:45px;
			.header-sousuo{
				width:440px;
				height:34px;
				border:solid 2px @color;
				.dis-o;
				.option{
					border:0;
					width:90px;
					position: relative;
					span{
						display: flex;
						justify-content: center;
						width:90px;
						height: 34px;
						line-height: 34px;
						color: #000;
						text-align: center;
						font-size: 14px;
						position: relative;
						cursor: pointer;
						i{
							position: absolute;
							right:0;
							line-height: 34px;
							display: inline-block;
							width: 0;
							height: 0;
							border-left: 6px solid transparent;
							border-right: 6px solid transparent;
							border-top: 5px solid #999;
							margin-top:14px;
						}
					}
					ul{
						position: absolute;
						left:-2px;
						top:34px;
						width:100%;
						border:solid 2px @color;
						background:#fff;
						border-top:0;
						z-index: 99;
						display: none;
						li{
							cursor:pointer;
							font-size: 12px;
							text-align: center;
							line-height: 28px;
							&:hover{
								color:@color;
							}
						}
					}
				}
				input{
					width:240px;
					border:0;
					outline:none;
					height:34px;
					color:#666;
					margin-left:10px;
				}
				.sousuo-text{
					text-align: center;
					font-size: 13px;
					color:#fff;
					background:@color;
					display: inline-block;
					width:80px;
					height:100%;
					line-height: 34px;
					cursor: pointer;
				}
			}
		}
		.header-right{
			margin-top:40px;
			background:url('../img/sjbg.png') no-repeat;
			width:200px;
			height:50px;
			position: relative;
			span{
				position: absolute;
				right:34px;
				bottom:5px;
				font-size: 17px;
			}
		}
	}
	nav{
		background:@color;
		ul{
			.w1200;
			.dis-o;
			height:50px;
			line-height: 50px;
			text-align: center;
			li{
				width:15%;
				cursor: pointer;
				.guodu(.2s);
				background-size:0;
				a{
					color:#fff;
					font-size: 14px;
					display: inline-block;
					width:100%;
					height:100%;
					&:hover{
						font-size: 16px;
					}
				}
				&:hover{
					.guodu(.2s);
					background:#333;
				}
			}
		}
	}
}
.start-stop{
	position: fixed;
	top:0;
	left:0;
	z-index: 999;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.8);
	display: none;
	.start-stop-video{
		width: 800px;
		position: absolute;
		top:calc(20%);
		left:calc(~"(50% - 400px)");
		z-index: 1;
		text-align: center;
		img{
			display: inline-block;
			width:38px;
			height:38px;
			position: absolute;
			top:-16px;
			right:-16px;
			opacity: .6;
			z-index: 10;
			&:hover{
				opacity: 1;
			}
		}
		video{
			max-width:100%;
		}
	}
}
.banner{
	position: relative;
	margin:0 auto;
	img{
		max-width:1920px;
		height:560px;
		display: block;
		margin:0 auto;
	}
	.swiper-container .swiper-pagination .swiper-pagination-bullet{
		width: 50px;
	    height: 4px;
	    border-radius: 0;
	    display: inline-block;
	    background: #000;
		border:solid 1px #ccc;
	}
	.swiper-pagination-white .swiper-pagination-bullet-active{
		background:#fff !important;
		opacity: .8;
	}
	.banner-xinx{
		position: absolute;
		right:20%;
		top:75px;
		z-index: 99;
		width:280px;
		height:400px;
		background:rgba(0,0,0,.55);
		.banner-form{
			width:100%;
			height:100%;
			padding-top:15px;
			display: flex;
			flex-direction: column;
			text-align: center;
			.banner-title{
				color:#fff;
				font-size: 17px;
				font-weight: 600;
				padding:10px 0;
			}
			input,select{
				width:200px;
				height:30px;
				margin:10px auto;
				padding:0 10px;
			}
			select{
				width:220px;
				color:#333;
				option{
					color:#333;
				}
			}
			.banner-but{
				background:@color;
				color:#fff;
				height:40px;
				width:200px;
				margin:0 auto;
				line-height: 40px;
				text-align: center;
				font-size: 14px;
				cursor: pointer;
			}
			.banner-rexian{
				color:#fff;
				padding-top:10px;
				font-size:13px;
				i{
					color:#fdf43f;
					font-style:normal;
					font-size:14px;
				}
			}
			.banner-num{
				padding-top:5px;
				color:#fff;
				font-size:13px;
				i{
					color:#fdf43f;
					font-style:normal;
					font-size: 18px;
				}
			}
		}
	}
}
.adtage{
	.w1200;
	ul{
		margin:60px 0;
		.dis-o;
		li{
			width:25%;
			text-align: center;
			.adtage-img{
				width:170px;
				height:170px;
				margin:0 auto;
				position: relative;
				border-radius: 50%;
				margin-bottom:15px;
				overflow:hidden;
				img{
					display: block;
					width:168px;
					height:168px;
					border:solid 1px #eee;
					border-radius: 50%;
					.guodu(.4s);
				}
				div{
					position: absolute;
					top:0;
					left:0;
					width:170px;
					height:170px;
					border-radius: 50%;
					border:solid 15px #eee;
					box-sizing: border-box;
					opacity: .7;
				}
				&:hover{
					img{
						.guodu(.4s);
						transform:scale(1.2);
						-webkit-transform:scale(1.2);
						-moz-transform:scale(1.2);
					}
				}
			}
			span{
				font-size: 17px;
			}
			p{
				font-size: 14px;
				color:#666;
				width:80%;
				margin:0 auto;
				margin-top:10px;
			}
		}
	}
}
.baojia{
	background:#f4f4f4;
	padding:60px 0;
	.baojia-form{
		.w1200;
		background:#fff;
		box-shadow: 5px 2px 10px #ddd;
		display: flex;
		.baojia-left{
			display: flex;
			width:780px;
			img{
				display: block;
			}
			.baojia-left-l{
				width:240px;
				min-width:240px;
				height:380px;
				position: relative;
				overflow: hidden;
				.guodu(.4s);
				img{
					height:380px;
				}
				span{
					position: absolute;
					left:10%;
					top:45px;
					background:url(../img/￥.png) no-repeat;
					background-position: center 20px;
					width:80%;
					height:140px;
					text-align: center;
					display: inline-block;
					padding-top:150px;
					color:#fff;
					font-size: 17px;
					border:solid 1px #aaa;
					i{
						font-size: 12px;
						color:#fff;
						font-style: normal;
					}
				}
				&:hover{
					.guodu(.4s);
					width:270px;
					min-width:270px;
				}
			}
			.baojia-left-r{
				background:url(../img/07.jpg) center center;
				background-size:100% 100%;
				width:500px;
				margin-left:5px;
				position: relative;
				.baojia-left-bg{
					position: absolute;
					top:0;
					bottom:0;
					background:rgba(0,0,0,0);
					width:100%;
					height:100%;
					.guodu(.3s);
					img{
						margin:140px auto;
						width:80px;
						height:80px;
						opacity: .9;
						cursor: pointer;
					}
					&:hover{
						.guodu(.3s);
						background:rgba(0,0,0,.4);
					}
				}
			}
		}

		.baojia-right{
			padding:20px 30px;
			.dis;
			flex-direction:column;
			.baojia-title{
				display: inline-block;
				margin-bottom: 20px;
				font-size: 24px;
			}
			.baojia-border{
				display: inline-block;
				height:2px;
				width:50px;
				background:@color;
				margin-bottom:20px;
			}
			.baojia-ziliao{
				width:350px;
				min-width:350px;
				.baojia-zl-left{
					margin-bottom:20px;
					div{
						height:50px;
						select{
							height:35px;
							width:84px;
							background:#f5f5f5;
							border:solid 1px #ddd;
							color:#666;
							outline: none;
						}
						input{
							height:35px;
							width:240px;
							padding:0 10px;
							background:#f5f5f5;
							border:solid 1px #ddd;
							outline: none;
						}
						span{
							display: inline-block;
							width:80px;
							font-size: 16px;
						}
					}
				}
				.baojia-zl-right{
					text-align: center;
					position: relative;
					div{
						width:154px;
						text-align: center;
						margin:0 auto;
						cursor: pointer;
						background:@color;
						color:#fff;
						padding:15px 0;
						font-size: 14px;
						border:0;
					}
					a{
						position: absolute;
						bottom:0;
						right:0;
						color:#666;
						font-size: 12px;
					}
				}
			}
		}
	}

}
.case{
	.case-ul{
		.w1200;
		.dis-o;
		flex-wrap:wrap;
		padding-bottom:50px;
		li{
			text-align: center;
			position: relative;
			width:278px;
			height:207px;
			overflow: hidden;
			margin-bottom:20px;
			img{
				width:278px;
				height:207px;
				.guodu(.5s);
				&:hover{
					.guodu(.5s);
					transform: scale(1.1);
					-moz-transform: scale(1.1);
					-webkit-transform: scale(1.1);
					-o-transform: scale(1.1);
				}
			}
			div{
				position: absolute;
				bottom:10px;
				left:0;
				background:rgba(0,0,0,.6);
				padding:8px 20px;
				span{
					font-size: 14px;
					color:#fff;
				}
			}
		}
	}
}
.build{
	background:#f4f4f4;
	padding:1px 0 60px;
	.build-ul{
		.w1200;
		.dis-o;
		li{
			width:350px;
			border:solid 1px #ddd;
			background:#fff;
			.guodu(.3s);
			overflow: hidden;
			.build-img{
				position: relative;
				background:#000;
				img{
					display: block;
					margin:auto;
					max-height:235px;
					opacity: .9;
				}
			}
			.build-cont{
				padding:10px 15px;
				span{
					color:#666;
					font-size: 14px;
				}
				div{
					margin-top:5px;
					.dis-o;
				}
			}
			.visit{
				width:100%;
				height:45px;
				line-height: 45px;
				position: relative;
				overflow: hidden;
				text-align: center;
				.visit-span{
					position:absolute;
					top:0;
					left:0;
					width:320px;
					height:100%;
					.dis-o;
					padding:0 15px;
					.guodu(.3s);
					span{
						font-size:14px;
						color:#666;
					}
				}
				.visit-img{
					position:absolute;
					bottom:-45px;
					left:0;
					width:100%;
					height:45px;
					background:#e34b4f;
					.guodu(.3s);
					cursor: pointer;
					a{
						display: inline-block;
						width:100%;
						height:100%;
					}
					img{
						height:30px;
						margin-top:7px;
					}
				}
				&:hover{
					.visit-span{
						position:absolute;
						top:-45px;
						left:0;
						.guodu(.3s);
					}
					.visit-img{
						position:absolute;
						bottom:0;
						left:0;
						.guodu(.3s);
					}
				}
			}
			&:hover{
				.guodu(.3s);
				box-shadow: 1px 1px 15px #bbb;
			}
		}
	}
}
.step{
	width:100%;
	height:380px;
	padding:1px 0;
	background:url(../img/step.jpg) 20% no-repeat;
	background-size:cover;
	*,.main-title h2{
		color:#eee;
	}
	.step-ul{
		.w1200;
		.dis;
		div{
			width:100px;
			height:100px;
			text-align: center;
			opacity: .65;
			border:solid 1px #fff;
			border-radius: 50%;
			margin:30px auto;
			margin-bottom: 15px;
			.guodu(.3s);
			img{
				margin-top:25px;
				height:50px;
			}
		}
		li{
			width:150px;
			text-align: center;
			&:hover{
				.guodu(.3s);
				div{
					opacity: 1;
				}
			}
		}
	}
}
.news{
	padding:1px 0;
	padding-bottom:40px;
	.news-main{
		.w1200;
		.dis-o;
		.news-left{
			width:580px;
			div{
				width:580px;
				height:300px;
				overflow: hidden;
				img{
					width:100%;
					height:100%;
					.guodu(.4s);
					&:hover{
						.guodu(.4s);
						transform: scale(1.1);
						-moz-transform: scale(1.1);
						-webkit-transform: scale(1.1);
						-o-transform: scale(1.1);
					}
				}
			}
			span{
				width: 580px;
				height: 30px;
				margin-top: 10px;
				color: #333;
				font-size: 18px;
				line-height: 1.5;
				display: inline-block;
				.nowarp-o;
				&:hover{
					color: #e34b4f;
				}
			}
			time{
				color:#666;
				font-size: 13px;
			}
			p{
				color:#666;
				font-size: 14px;
				width:580px;
				height:40px;
				line-height: 20px;
				.nowarp-t(2);
			}
		}
		.news-right{
			width:580px;
			a{
				display: inline-block;
				margin-top:15px;
				&:nth-child(1){
					margin-top:0;
				}
				li{
					.guodu(.4s);
					.dis-o;
					height:90px;
					.news-time{
						width:90px;
						height:90px;
						background:#c0b8ac;
						position: relative;
						.guodu(.4s);
						time{
							position: absolute;
							color:#fff;
						}
						.news-day{
							top:20px;
							left:28px;
							font-size: 27px;
						}
						.news-month{
							top:55px;
							left:50px;
							font-size: 14px;
						}
					}
					.news-content{
						width:470px;
						padding:0 10px;
						.news-title{
							font-size: 18px;
							color:#333;
							margin:7px 0;
							.nowarp-o;
						}
						p{
							font-size: 14px;
							color:#666;
							.nowarp-t(2);
						}
					}
					&:hover{
						.guodu(.4s);
						box-shadow: 2px 2px 10px #ddd;
						.news-time{
							.guodu(.4s);
							background:#e34b4f;
						}
					}
				}
			}
		}
	}
}
.link{
	.w1200;
	margin:50px auto;
	.link-title{
		height:35px;
		line-height: 35px;
		border-left: solid 3px #e74c3c;
		background:#f5f5f5;
		span{
			display: inline-block;
			text-align: center;
			width:90px;
			color: #333;
			font-size: 16px;
		}
	}
	.link-ul{
		display: flex;
		flex-wrap: wrap;
		margin-top:10px;
		li{
			padding:5px 15px 0 0;
			font-size: 14px;
			a{
				color:#888;
			}
		}
	}
}
.footer{
	width:100%;
	background:#444;
	.footer-top{
		padding:30px 0;
		.w1200;
		img{
			width:200px;
		}
	}
	.footer-center{
		.w1200;
		.dis;
		.footer-link{
			width:400px;
			padding-top:10px;
			ul{
				.dis;
				flex-wrap: wrap;
				height:60px;
				line-height: 30px;
				margin-bottom:20px;
				li{
					width:100px;
					a{
						color:#ccc;
						font-size: 14px;
						display: inline-block;
						width:100%;
						height:100%;
					}
				}
			}
			div{
				.dis;
				flex-direction: column;
				span{
					padding:5px 0;
					color:#bbb;
					font-size: 14px;
				}
			}
		}
		.footer-input{
			width:400px;
			border-left:solid 1px #ccc;
			border-right:solid 1px #ccc;
			padding:10px 0;
			.dis;
			flex-direction: column;
			span{
				color:#fff;
				font-size: 18px;
				display: inline-block;
				margin-left:40px;
				padding-bottom: 10px;
			}
			input{
				margin:auto;
				width:300px;
				height:35px;
				padding: 0 10px;
				border:0;
				border-radius: 5px;
				margin-top:10px;
			}
			.footer-but{
				width: 95px;
				height: 38px;
				text-align: center;
				line-height: 38px;
				background: #E33F4B;
				border-radius: 4px;
				font-size: 14px;
				color: #fff;
				margin-left: 40px;
				cursor: pointer;
			}
		}
		.footer-erw{
			width:390px;
			padding-top:10px;
			.dis;
			justify-content: center;
			.footer-img{
				margin:10px auto;
				text-align: center;
				background:#fff;
				width:110px;
				padding:5px 0;
				img{
					width:100px;
					height:100px;
					display: block;
					margin:0 auto;
				}
			}
			.footer-span{
				margin:0 auto;
				width:130px;
				text-align: center;
				span{
					font-size: 14px;
					color:#ddd;
				}
			}
		}
	}
	.footer-bottom{
		margin-top: 30px;
		border-top:solid 1px #ddd;
		.footer-beian{
			.w1200;
			.dis-o;
			height:40px;
			line-height:40px;
			p{
				color:#aaa;
				font-size: 13px;
				a{
					color:#aaa;
				}
			}
		}
	}
}

// 报价
.banner-offer{
	height:214px;
	width:100%;
	background:url(../img/banner04.jpg) no-repeat 50% 50%;
	background-position: center;
}
.baojia-main{
	width: 1200px;
	background:#f4f4f4;
	margin:60px auto;
	padding:50px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.alert-offer{
		position: fixed;
		top:50%;
		left:50%;
		z-index: 999;
		background:url(../img/alert-bg.jpg) no-repeat;
		background-size:100% 100%;
		width:510px;
		height:160px;
		margin-top:-80px;
		margin-left:-255px;
		display: none;
		img{
			position: absolute;
			right:-16px;
			top:-16px;
			width:35px;
			height:35px;
		}
		.offer-end{
			display: flex;
			justify-content: space-around;
			padding:15px 20px;
			.offer-end-left{
				width:40%;
				display: flex;
				flex-direction: column;
				span{
					padding:6px 0;
					color:#555;
					font-size: 15px;
					i{
						font-style: normal;
						color:#f35626;
					}
				}
			}
			.offer-end-right{
				width: 55%;
				padding-top:30px;
				span{
					font-size: 18px;
					i{
						font-style: normal;
						font-size: 24px;
						color:#f35626;
						padding:0 10px 0 3px;
					}
				}
				div{
					margin-top:10px;
					font-size: 12px;
					color:#777;
				}
			}
		}
	}
	.baojia{
		width: 600px;
		padding:0;
	}
	.baojia-right{
		width:300px;
		border:solid 1px #ddd;
		text-align: center;
		.baojia-futitle{
			width:100%;
			text-align: center;
			margin:12px auto;
			span{
				color:#666;
				font-size: 14px;
				i{
					font-style: normal;
					color:red;
					font-weight: 600;
				}
			}
		}
		.baojia-div{
			width:260px;
			margin:0 auto;
			height:190px;
			.baojia-roll{
				display: flex;
				justify-content: space-between;
				height:30px;
				line-height: 30px;
				div{
					&:nth-child(1){
						color:#666;
						font-size: 14px;
						width:91px;
						min-width:91px;
					}
					&:nth-child(2){
						color:#333;
						width:60px;
						min-width:60px;
						font-size: 14px;
						text-align: center;
					}
					&:nth-child(3){
						width:70px;
						min-width:70px;
						font-size: 14px;
						color:red;
						text-align: right;
					}
				}
			}
		}
	}
	.baojia-title{
		width:100%;
		font-size: 25px;
		font-weight: 600;
		color:#f35626;
		text-align: center;
		margin-bottom:40px;
	}
	.bj-span{
		font-size: 15px;
		color:#666;
		display: inline-block;
		width:80px;
	}
	input{
		height:30px;
		padding:0 10px;
		font-size: 13px;
		outline:none;
	}
	.bj-left-margin{
		margin-left:50px;
	}
	.baojia-o{
		select{
			width:130px;
			height:33px;
			color:#666;
			outline:none;
			padding-left:5px;
		}
		input{
			width:105px;
		}
		padding:10px 0;
	}
	.baojia-t{
		select{
			width:130px;
			height:33px;
			color:#666;
			outline:none;
			padding-left:5px;
		}
		padding:10px 0;
	}
	.baojia-s{
		input{
			width:170px;
		}
		padding:10px 0;
		.bj-span2{
			display: inline-block;
			height:20px;
			line-height: 20px;
			font-size: 12px;
			color:#888;
			padding-left:5px;
		}
	}
	.baojia-but{
		text-align: left;
		margin-top:40px;
		div{
			display: inline-block;
			width:200px;
			height:35px;
			text-align: center;
			line-height: 35px;
			margin:0 15px;
			background:#fff;
			border:solid 1px #f35626;
			color:#f35626;
			font-size: 15px;
			.guodu(.3s);
			&:hover{
				background:#f35626;
				color:#fff;
				.guodu(.3s);
			}
		}
		a{
			display: inline-block;
			width:200px;
			height:34px;
			line-height: 34px;
			margin:0 15px;
			background:#fff;
			border:solid 1px #f35626;
			color:#f35626;
			font-size: 15px;
			.guodu(.3s);
			text-align: center;
			&:hover{
				background:#f35626;
				color:#fff;
				.guodu(.3s);
			}
		}
	}
}
.start-stop2{
	position: fixed;
	top:0;
	left:0;
	z-index: 999;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.8);
	display: none;
	.start-stop-video{
		width: 800px;
		position: absolute;
		top:calc(20%);
		left:calc(~"(50% - 400px)");
		z-index: 1;
		text-align: center;
		img{
			display: inline-block;
			width:38px;
			height:38px;
			position: absolute;
			top:-16px;
			right:-16px;
			opacity: .6;
			z-index: 10;
			&:hover{
				opacity: 1;
			}
		}
		video{
			max-width:100%;
		}
	}
}
.video-banner{
	height:350px;
	max-width:1920px;
	margin:0 auto;
	overflow: hidden;
	position: relative;
	video{
		width:100%;
		max-width: 1920px;
		display: block;
		margin:0 auto;
		margin-top:-350px;
		z-index: 1;
	}
	.video-bg{
		position: absolute;
		top:0;
		left:0;
		background:rgba(44,44,44,.5);
		width:100%;
		height:100%;
		z-index: 2;
		text-align: center;
		span{
			font-size: 22px;
			color:#eee;
			font-weight: 600;
			display: inline-block;
			margin-top:150px;
			border:solid 2px #ccc;
			padding:15px 70px;
			i{
				font-size: 15px;
				color:#fff;
				font-style: normal;
				font-weight: 500;
			}
		}
		P{
			margin-top:20px;
			color:#ddd;
			font-size: 14px;
		}
	}
}
.video-list{
	background:#f5f5f5;
	padding:60px 0;
	.video-ul{
		.w1200;
		.dis-o;
		flex-wrap: wrap;
		li{
			height:503px;
			width:585px;
			background:#fff;
			position: relative;
			margin:15px 0;
			.video-ul-img{
				overflow: hidden;
				height:403px;
				width:585px;
				img{
					height:403px;
					width:585px;
					vertical-align: bottom;
					.guodu(.4s);
				}
			}
			.video-ul-play{
				position: absolute;
				top:0;
				left:0;
				width:585px;
				height:403px;
				text-align: center;
				line-height: 403px;
				background:rgba(0,0,0,.3);
				div{
					border:solid 1px #eee;
					width:543px;
					height:361px;
					margin:20px auto;
					img{
						width:70px;
						height:70px;
						.guodu(.4s);
					}
				}
			}
			&:hover{
				cursor: pointer;
				.video-ul-img{
					img{
						.guodu(.4s);
						transform: scale(1.1);
						-moz-transform: scale(1.1);
						-webkit-transform: scale(1.1);
						-o-transform: scale(1.1);
					}
				}
				.video-ul-play{
					div{
						img{
							.guodu(.4s);
							transform: scale(.9);
							-moz-transform: scale(.9);
							-webkit-transform: scale(.9);
							-o-transform: scale(.9);
						}
					}
				}
			}
			.video-ul-cont{
				span{
					display: inline-block;
					width:100px;
					height:3px;
					margin:20px;
					background:crimson;
				}
				p{
					padding: 0 20px;
					height:30px;
					line-height: 30px;
					color:#333;
					font-size: 20px;
					margin-top:-10px;
				}
			}
		}
	}
}
.about-banner{
	height:214px;
	width:100%;
	background:url(../img/banner05.jpg) no-repeat 50% 50%;
	background-position: center;
}
.about-main{
	.w1200;
	padding:30px 0;
	h2{
		text-align: center;
		border-bottom:solid 1px #ddd;
		padding-bottom:30px;
	}
	.about-contact{
		margin:60px 0;
		.dis;
		.about-contact-left{
			width:600px;
			img{
				width:100%;
			}
		}
		.about-contact-right{
			width:540px;
			padding:0 30px;
			span{
				display: block;
				margin-bottom:10px;
				font-size: 15px;
				p{
					text-indent: 2em;
				}
				&:nth-child(1){
					font-size: 20px;
					margin-bottom:25px;
				}
			}
		}
	}
}
.news-banner{
	height:214px;
	width:100%;
	background:url(../img/news_banner.jpg) no-repeat 50% 50%;
	background-position: center;
}
.news-main{
	.w1200;
	.dis-o;
	margin:20px auto;
	.news-left{
		width:900px;
		.news-list-title{
			height:40px;
			line-height: 40px;
			border-bottom:solid 1px #ccc;
			.dis;
			span{
				font-size: 14px;
				color:#333;
				display: inline-block;
				padding:0 15px;
				cursor: pointer;
			}
			.active{
				background:#e12c28;
				color:#fff;
			}
		}
		.news-left-ul{
			li{
				border-bottom:dashed 1px #ddd;
				padding:20px 0;
				a{
					.dis-o;
					.news-ul-img{
						width:200px;
						height:130px;
						border:solid 1px #eee;
						img{
							width:100%;
							height:100%;
						}
					}
					.news-ul-content{
						width:680px;
						span{
							font-size: 17px;
						}
						p{
							font-size: 14px;
							height:60px;
							margin:10px 0;
							.nowarp-t(3);
							text-indent: 2em;
							color:#888;
						}
						.news-ul-time{
							.dis-o;
							height:30px;
							line-height: 30px;
							time{
								font-size: 14px;
								color:#888;
							}
							span{
								font-size: 13px;
								padding:0 15px;
								border:solid 1px #ccc;
								color:#666;
							}
						}
					}
				}
			}
		}
		.pagination{
			.dis;
			justify-content: center;
			margin:20px 0 50px;
			li{
				cursor: pointer;
				height:25px;
				line-height: 25px;
				font-size: 12px;
				border:solid 1px #ccc;
				margin:0 4px;
				a,span{
					display: inline-block;
					width:100%;
					height:100%;
					padding:0 10px;
				}
			}
			.active{
				span{
					color:#fff;
				}
				border:solid 1px #e12c28;
				background:#e12c28;
			}
		}
	}

}
.news-right{
	width:270px;
	.news-right-title{
		font-size: 15px;
		font-weight: 600;
		display: inline-block;
		padding:3px 8px;
		border-left:solid 3px #df2f30;
	}
	.news-right-top{

	}
	.news-right-bottom{
		margin-top:10px;
	}
	img{
		width:100%;
	}
	.news-right-ul{
		margin-top:10px;
		li{
			width:100%;
			height:65px;
			margin:10px 0;
			a{
				.dis-o;
				.news-right-img{
					width:90px;
					height:58px;
					border:solid 1px #eee;
				}
				.news-right-cont{
					width:165px;
					span{
						font-size: 14px;
						display: inline-block;
						width:100%;
						.nowarp-o;
						color:#444;
					}
					p{
						font-size: 12px;
						.nowarp-t(2);
						color:#888;
						text-indent: 1em;
					}
				}
			}
		}
	}
}
.news-page-main{
	.w1200;
	.dis-o;
	margin:20px auto;
	.news-page-left{
		width:900px;
		.news-page-title{
			font-size: 26px;
			font-weight: 400;
			color:#000;
			margin-top:10px;
		}
		.news-page-details{
			span{
				font-size: 14px;
				color:#666;
				display: inline-block;
				margin:10px 20px 0 0;
			}
			padding-bottom:15px;
			border-bottom:solid 1px #ddd;
		}
		.news-page-cont{
			padding:20px 0;
			color:#333;
			font-size: 15px;
			line-height: 24px;
			img{
				max-width: 100%;
			}
		}
		.news-page-bottom{
			.dis-o;
			.news-page-and-down{
				span{
					display: block;
					color:#666;
					font-size: 14px;
				}
				a{
					color:#666;
					font-size: 14px;
				}
			}
		}
	}

}
.cases-lists{
	.w1200;
	padding-top:20px;
	.cases-ul{
		.dis;
		flex-wrap: wrap;
		li{
			width:380px;
			margin:0 30px 20px 0;
			.guodu(.3s);
			&:nth-child(3n){
				margin-right:0;
			}
			&:hover{
				box-shadow: 1px 2px 10px #ccc;
				.guodu(.3s)
			}
			a{
				.cases-img{
					img{
						width:100%;
						height:250px;
						display: block;
					}
				}
				.cases-content{
					border:solid 1px #e4e4e4;
					border-top:0;
					padding:0 10px 10px;
					.cases-content-top{
						height:50px;
						line-height: 50px;
						font-size: 18px;
					}
					.cases-content-center{
						color:#999;
						font-size: 13px;
						span{
							font-size: 14px;
							color:#666;
							display: inline-block;
							padding:0 10px;
							&:nth-child(1){
								padding-left:0;
							}
						}
					}
					.cases-content-bottom{
						.dis-o;
						margin-top:5px;
						.cases-content-address{
							font-size: 15px;
							color:#333;
						}
						.cases-content-price{
							font-weight: 600;
							color:#df2f30;

						}
					}
				}
			}
		}
	}
	.paging-page{
		.dis;
		justify-content: center;
		margin:20px 0 50px;
		span{
			cursor: pointer;
			padding:0 10px;
			height:25px;
			line-height: 25px;
			font-size: 12px;
			border:solid 1px #ccc;
			margin:0 4px;
		}
		.color_red{
			color:#fff;
			border:solid 1px #e12c28;
			background:#e12c28;
		}
	}
}
.list-none{
	text-align: center;
	margin-bottom:80px;
	img{
		margin:10px auto;
		display: block;
	}
	span{
		font-size: 17px;
		color:#999;
	}
}
.search-page{
	.w1200;
	margin-top:40px;
	.search-ul{
		border:solid 1px #ddd;
		li{
			height:45px;
			line-height: 45px;
			border-top:dashed 1px #ddd;
			&:nth-child(1){
				border:0;
			}
			.dis;
			.search-title{
				background:#f4f4f4;
				font-size: 13px;
				color:#555;
				width:100px;
				text-align: center;
			}
			.search-lists{
				.dis;
				li{
					border:0;
					padding:0 18px;
					span{
						color:#555;
						font-size: 13px;
						cursor: pointer;
						&:hover{
							color:red;
						}
					}
					&:nth-child(1){
						padding-left:36px;
					}
					.color-red{
						color:red;
					}
				}
			}
		}
	}
	.sorting{
		margin:20px 0;
		.search-lists{
			.dis;
			li{
				font-size: 14px;
				width:100px;
				text-align: center;
				height:30px;
				line-height: 30px;
				margin-right:20px;
				border:solid 1px #ccc;
				color:#333;
				cursor: pointer;
			}
			.bgcolor{
				background:#e12c28;
				color:#fff;
				border:solid 1px #e12c28;
			}
		}
	}
}
.cases-page{
	.w1200;
	.dis-o;
	flex-wrap: wrap;
	.cases-page-link{
		width:1200px;
		.dis;
		font-size: 14px;
		height:20px;
		line-height: 20px;
		margin:15px 0;
		img{
			height:20px;
			margin-right:5px;
		}
		span,a{
			color:#666;
		}
	}
	.cases-page-left{
		width:900px;
		.cases-swiper{
			width:100%;
			height:526px;
			background:#f5f5f5;
			img{
				width:100%;
				height:100%;
				vertical-align: bottom;
			}
		}
		.cases-page-details{
			background:#f5f5f5;
			padding: 10px 20px;
			position: relative;
			h2{
				font-size: 23px;
				height:45px;
				line-height: 45px;
			}
			.cases-page-list{
				.dis;
				font-size: 12px;
				span{
					font-size: 14px;
					color:#666;
					padding:0 10px;
					&:nth-child(1){
						padding-left:0;
					}
				}
			}
			.page-details-span{
				font-size: 16px;
				color:#333;
			}
			p{
				margin-top:10px;
				font-size: 15px;
				color:#333;
				line-height: 26px;
			}
			.page-price{
				position: absolute;
				top:10px;
				right:20px;
				display: inline-block;
				height:45px;
				line-height: 45px;
				color:#df2f30;
				font-size: 20px;
				font-weight: 600;
			}
		}
		.page-content-title{
			font-size: 18px;
			display: inline-block;
			margin:20px 0;
		}
		.cases-page-content{
			margin: 20px 0 60px;
			text-align: center;
			span{
				font-size: 15px;
			}
			img{
				max-width:900px;
				vertical-align: bottom;
				margin-bottom:10px;
			}
		}
	}
	.cases-page-right{
		width:280px;
		.page-title{
			font-size: 15px;
			font-weight: 600;
			display: inline-block;
			padding:2px 8px;
			border-left:solid 3px #df2f30;
		}
		.page-input{
			margin:15px auto;
			text-align: center;
			input{
				width:180px;
				padding:0 10px;
				height:27px;
				margin:5px 0;
			}
			.page-but{
				width:200px;
				background:#df2f30;
				border:0;
				color:#fff;
				display: block;
				margin:0 auto;
				margin-top:10px;
				height:35px;
				line-height: 35px;
				font-size: 14px;
				cursor: pointer;
			}
			span{
				font-size: 14px;
				i{
					font-style: normal;
					color:red;
				}
			}
		}
		.cases-page-guess{
			padding-top:10px;
			.page-guess-ul{
				margin:15px auto;
				li{
					text-align: center;
					a{
						display: inline-block;
						width:230px;
						border-bottom:solid 1px #ccc;
						padding-bottom:10px;
						margin-bottom:15px;
						img{
							width:230px;
							height:151px;
							vertical-align: bottom;
						}
						.page-details{
							text-align: left;
							.page-details-span{
								font-size: 15px;
								display: inline-block;
								height:30px;
								line-height: 30px;
							}
							.page-details-div{
								.dis;
								font-size: 12px;
								span{
									font-size: 12px;
									color:#666;
									padding:0 10px;
									&:nth-child(1){
										padding-left:0;
									}
								}
							}
						}
						&:hover{
							span{
								color:#df2f30;
							}
						}
					}
				}
			}
		}
	}
	.cases-pages-bottom{
		width:100%;
		margin:20px 0 30px;
		.cases-pages-bottom-title{
			.dis-o;
			height:30px;
			line-height: 30px;
			h3{
				font-size: 18px;
				border-left:solid 3px #df2f30;
				padding:0 10px;
			}
			a{
				color:#666;
				font-size: 12px;
			}
		}
		.page-ul{
			width:100%;
			margin:10px auto;
			.dis;
			border-top:solid 1px #ddd;
			padding-top:20px;
			li{
				width:240px;
				text-align: center;
				a{
					display: inline-block;
					width:220px;
					img{
						width:220px;
						height:141px;
						vertical-align: bottom;
					}
					.page-details{
						text-align: left;
						.page-details-span{
							font-size: 15px;
							display: inline-block;
							height:30px;
							line-height: 30px;
						}
						.page-details-div{
							.dis;
							font-size: 12px;
							span{
								font-size: 12px;
								color:#666;
								padding:0 10px;
								&:nth-child(1){
									padding-left:0;
								}
							}
						}
					}
					&:hover{
						span{
							color:#df2f30;
						}
					}
				}
			}
		}
	}
}
