* {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "微软雅黑";
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.w1200 {
  max-width: 1200px;
  margin: 0 auto;
}
.dis {
  display: flex;
}
.dis-o {
  display: flex;
  justify-content: space-between;
}
.dis-t {
  display: flex;
  justify-content: space-around;
}
.nowarp-o {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-title {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin: 40px auto;
}
.main-title h2 {
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 30px;
  color: #000;
}
.main-title p {
  width: 100%;
  height: 16px;
  line-height: 18px;
  font-size: 15px;
  margin-top: 5px;
}
.fiexd {
  position: fixed;
  bottom: 100px;
  right: 0;
  width: 50px;
  background: #b60005;
  text-align: center;
  opacity: .7;
}
.fiexd img {
  width: 100%;
  vertical-align: bottom;
}
.fiexd span {
  color: #fff;
  font-size: 12px;
}
.fiexd:hover {
  opacity: 1;
}
.mhm-header .tobar {
  background: #f9f9f9;
  border-bottom: solid 1px #eee;
}
.mhm-header .tobar .tobar-main {
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.mhm-header .tobar .tobar-main span {
  color: #888;
  font-size: 12px;
  padding: 0 5px;
}
.mhm-header .tobar .tobar-main a {
  color: #888;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.mhm-header .toheader {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 120px;
}
.mhm-header .toheader .header-logo {
  height: 60px;
  margin-top: 40px;
}
.mhm-header .toheader .header-logo img {
  height: 100%;
}
.mhm-header .toheader .header-center {
  margin-top: 45px;
}
.mhm-header .toheader .header-center .header-sousuo {
  width: 440px;
  height: 34px;
  border: solid 2px #b60005;
  display: flex;
  justify-content: space-between;
}
.mhm-header .toheader .header-center .header-sousuo .option {
  border: 0;
  width: 90px;
  position: relative;
}
.mhm-header .toheader .header-center .header-sousuo .option span {
  display: flex;
  justify-content: center;
  width: 90px;
  height: 34px;
  line-height: 34px;
  color: #000;
  text-align: center;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}
.mhm-header .toheader .header-center .header-sousuo .option span i {
  position: absolute;
  right: 0;
  line-height: 34px;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 5px solid #999;
  margin-top: 14px;
}
.mhm-header .toheader .header-center .header-sousuo .option ul {
  position: absolute;
  left: -2px;
  top: 34px;
  width: 100%;
  border: solid 2px #b60005;
  background: #fff;
  border-top: 0;
  z-index: 99;
  display: none;
}
.mhm-header .toheader .header-center .header-sousuo .option ul li {
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  line-height: 28px;
}
.mhm-header .toheader .header-center .header-sousuo .option ul li:hover {
  color: #b60005;
}
.mhm-header .toheader .header-center .header-sousuo input {
  width: 240px;
  border: 0;
  outline: none;
  height: 34px;
  color: #666;
  margin-left: 10px;
}
.mhm-header .toheader .header-center .header-sousuo .sousuo-text {
  text-align: center;
  font-size: 13px;
  color: #fff;
  background: #b60005;
  display: inline-block;
  width: 80px;
  height: 100%;
  line-height: 34px;
  cursor: pointer;
}
.mhm-header .toheader .header-right {
  margin-top: 40px;
  background: url('../img/sjbg.png') no-repeat;
  width: 200px;
  height: 50px;
  position: relative;
}
.mhm-header .toheader .header-right span {
  position: absolute;
  right: 34px;
  bottom: 5px;
  font-size: 17px;
}
.mhm-header nav {
  background: #b60005;
}
.mhm-header nav ul {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.mhm-header nav ul li {
  width: 15%;
  cursor: pointer;
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  background-size: 0;
}
.mhm-header nav ul li a {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.mhm-header nav ul li a:hover {
  font-size: 16px;
}
.mhm-header nav ul li:hover {
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  background: #333;
}
.start-stop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
.start-stop .start-stop-video {
  width: 800px;
  position: absolute;
  top: calc(20%);
  left: calc((50% - 400px));
  z-index: 1;
  text-align: center;
}
.start-stop .start-stop-video img {
  display: inline-block;
  width: 38px;
  height: 38px;
  position: absolute;
  top: -16px;
  right: -16px;
  opacity: .6;
  z-index: 10;
}
.start-stop .start-stop-video img:hover {
  opacity: 1;
}
.start-stop .start-stop-video video {
  max-width: 100%;
}
.banner {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.banner img {
  width: 100%;
  height: auto;
  /* max-width: 1920px;
  height: 560px; */
  display: block;
  margin: 0 auto;
}
.banner .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 50px;
  height: 4px;
  border-radius: 0;
  display: inline-block;
  background: #000;
  border: solid 1px #ccc;
}
.swiper-wrapper{
  /* height:560px; */
  height: auto;
}
.banner .swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff !important;
  opacity: .8;
}
.banner .banner-xinx {
  position: absolute;
  right: 20%;
  top: 75px;
  z-index: 99;
  width: 280px;
  height: 400px;
  background: rgba(0, 0, 0, 0.55);
}
.banner .banner-xinx .del{
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: none;
}
.banner .banner-xinx .banner-form {
  width: 100%;
  height: 100%;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.banner .banner-xinx .banner-form .banner-title {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  padding: 10px 0;
}
.banner .banner-xinx .banner-form input,
.banner .banner-xinx .banner-form select {
  width: 200px;
  height: 30px;
  margin: 10px auto;
  padding: 0 10px;
}
.banner .banner-xinx .banner-form select {
  width: 220px;
  color: #333;
}
.banner .banner-xinx .banner-form select option {
  color: #333;
}
.banner .banner-xinx .banner-form .banner-but {
  background: #b60005;
  color: #fff;
  height: 40px;
  width: 200px;
  margin: 0 auto;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.banner .banner-xinx .banner-form .banner-rexian {
  color: #fff;
  padding-top: 10px;
  font-size: 13px;
}
.banner .banner-xinx .banner-form .banner-rexian i {
  color: #fdf43f;
  font-style: normal;
  font-size: 14px;
}
.banner .banner-xinx .banner-form .banner-num {
  padding-top: 5px;
  color: #fff;
  font-size: 13px;
}
.banner .banner-xinx .banner-form .banner-num i {
  color: #fdf43f;
  font-style: normal;
  font-size: 18px;
}
.adtage {
  max-width: 1200px;
  margin: 0 auto;
}
.adtage ul {
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
}
.adtage ul li {
  width: 25%;
  text-align: center;
}
.adtage ul li .adtage-img {
  width: 170px;
  height: 170px;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  margin-bottom: 15px;
  overflow: hidden;
}
.adtage ul li .adtage-img img {
  display: block;
  width: 168px;
  height: 168px;
  border: solid 1px #eee;
  border-radius: 50%;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.adtage ul li .adtage-img div {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: solid 15px #eee;
  box-sizing: border-box;
  opacity: .7;
}
.adtage ul li .adtage-img:hover img {
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}
.adtage ul li span {
  font-size: 17px;
}
.adtage ul li p {
  font-size: 14px;
  color: #666;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
}
.baojia {
  background: #f4f4f4;
  padding: 60px 0;
}
.baojia .baojia-form {
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 5px 2px 10px #ddd;
  display: flex;
}
.baojia .baojia-from-money{
  display: none;
}
.baojia .baojia-form .baojia-left {
  display: flex;
  width: 780px;
}
.baojia .baojia-form .baojia-left img {
  display: block;
}
.baojia .baojia-form .baojia-left .baojia-left-l {
  width: 240px;
  min-width: 240px;
  height: 380px;
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.baojia .baojia-form .baojia-left .baojia-left-l img {
  height: 380px;
}
.baojia .baojia-form .baojia-left .baojia-left-l span {
  position: absolute;
  left: 10%;
  top: 45px;
  background: url(../img/￥.png) no-repeat;
  background-position: center 20px;
  width: 80%;
  height: 140px;
  text-align: center;
  display: inline-block;
  padding-top: 150px;
  color: #fff;
  font-size: 17px;
  border: solid 1px #aaa;
}
.baojia .baojia-form .baojia-left .baojia-left-l span i {
  font-size: 12px;
  color: #fff;
  font-style: normal;
}
.baojia .baojia-form .baojia-left .baojia-left-l:hover {
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  width: 270px;
  min-width: 270px;
}
.baojia .baojia-form .baojia-left .baojia-left-r {
  background: url(../img/07.jpg) center center;
  background-size: 100% 100%;
  width: 500px;
  margin-left: 5px;
  position: relative;
}
.baojia .baojia-form .baojia-left .baojia-left-r .baojia-left-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.baojia .baojia-form .baojia-left .baojia-left-r .baojia-left-bg img {
  margin: 140px auto;
  width: 80px;
  height: 80px;
  opacity: .9;
  cursor: pointer;
}
.baojia .baojia-form .baojia-left .baojia-left-r .baojia-left-bg:hover {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  background: rgba(0, 0, 0, 0.4);
}
.baojia .baojia-form .baojia-right {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}
.baojia .baojia-form .baojia-right .baojia-title {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 24px;
}
.baojia .baojia-form .baojia-right .baojia-border {
  display: inline-block;
  height: 2px;
  width: 50px;
  background: #b60005;
  margin-bottom: 20px;
}
.baojia .baojia-form .baojia-right .baojia-ziliao {
  width: 350px;
  min-width: 350px;
}
.baojia .baojia-form .baojia-right .baojia-ziliao .baojia-zl-left {
  margin-bottom: 20px;
}
.baojia .baojia-form .baojia-right .baojia-ziliao .baojia-zl-left div {
  height: 50px;
}
.baojia .baojia-form .baojia-right .baojia-ziliao .baojia-zl-left div select {
  height: 35px;
  width: 84px;
  background: #f5f5f5;
  border: solid 1px #ddd;
  color: #666;
  outline: none;
}
.baojia .baojia-form .baojia-right .baojia-ziliao .baojia-zl-left div input {
  height: 35px;
  width: 240px;
  padding: 0 10px;
  background: #f5f5f5;
  border: solid 1px #ddd;
  outline: none;
}
.baojia .baojia-form .baojia-right .baojia-ziliao .baojia-zl-left div span {
  display: inline-block;
  width: 80px;
  font-size: 16px;
}
.baojia .baojia-form .baojia-right .baojia-ziliao .baojia-zl-right {
  text-align: center;
  position: relative;
}
.baojia .baojia-form .baojia-right .baojia-ziliao .baojia-zl-right div {
  width: 154px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  background: #b60005;
  color: #fff;
  padding: 15px 0;
  font-size: 14px;
  border: 0;
}
.baojia .baojia-form .baojia-right .baojia-ziliao .baojia-zl-right a {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #666;
  font-size: 12px;
}
.baojia-from-money{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
}
.baojia-from-money .baojia-title{
  display: inline-block;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}
.baojia-from-money .baojia-huxing select{
  height: 35px;
    background: #f5f5f5;
    border: solid 1px #ddd;
    color: #666;
    outline: none;
}
.baojia-from-money .baojia-zl-left div{
  margin-top: 10px;
}
.baojia-from-money .baojia-zl-left span{
  display: inline-block;
    width: 70px;
    font-size: 16px;
}
.baojia-from-money .baojia-zl-left input{
  height: 35px;
    width: 150px;
    padding: 0 10px;
    background: #f5f5f5;
    border: solid 1px #ddd;
    outline: none;
    box-sizing: border-box;
}
.baojia-from-money .baojia-zl-right div{
  width: 120px;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
  background: #b60005;
  color: #fff;
  padding: 10px 0;
  font-size: 14px;
  border: 0;
  box-sizing: border-box;
}
.baojia-from-money .baojia-zl-right{
  position: relative;
}
.baojia-from-money .baojia-zl-right a{
    color: #666;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.case .case-ul {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.case .case-ul li {
  text-align: center;
  position: relative;
  width: 278px;
  height: 207px;
  overflow: hidden;
  margin-bottom: 20px;
}
.case .case-ul li img {
  width: 278px;
  height: 207px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.case .case-ul li img:hover {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.case .case-ul li div {
  position: absolute;
  bottom: 10px;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 8px 20px;
}
.case .case-ul li div span {
  font-size: 14px;
  color: #fff;
}
.build {
  background: #f4f4f4;
  padding: 1px 0 60px;
}
.build .build-ul {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.build .build-ul li {
  width: 23%;
  border: solid 1px #ddd;
  background: #fff;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  overflow: hidden;
  position: relative;
}
.build .build-ul li .build-img {
  position: relative;
  background: #000;
}
.build .build-ul li .build-img img {
  width: 100%;
  display: block;
  margin: auto;
  max-height: 235px;
  opacity: .9;
}
.build .build-ul li .build-cont {
  padding: 10px 15px;
}
.build .build-ul li .build-cont span {
  color: #666;
  font-size: 14px;
}
.build .build-ul li .build-cont div {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.build .build-ul li .visit {
  width: 100%;
  height: 45px;
  background: #fff;
  line-height: 45px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
}
.build .build-ul li .visit .visit-span {
  
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  box-sizing: border-box;
}
.build .build-ul li .visit .visit-span span {
  font-size: 14px;
  color: #666;
}
.build .build-ul li .visit .visit-img {
  position: absolute;
  bottom: -45px;
  left: 0;
  width: 100%;
  height: 45px;
  background: #e34b4f;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  cursor: pointer;
}
.build .build-ul li .visit .visit-img a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.build .build-ul li .visit .visit-img img {
  height: 30px;
  margin-top: 7px;
}
.build .build-ul li .visit:hover .visit-span {
  position: absolute;
  top: -45px;
  left: 0;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.build .build-ul li .visit:hover .visit-img {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.build .build-ul li:hover {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  box-shadow: 1px 1px 15px #bbb;
}
.step {
  width: 100%;
  height: 380px;
  padding: 1px 0;
  background: url(../img/step.jpg) 20% no-repeat;
  background-size: cover;
}
.step *,
.step .main-title h2 {
  color: #eee;
}
.step .step-ul {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.step .step-ul div {
  width: 100px;
  height: 100px;
  text-align: center;
  opacity: .65;
  border: solid 1px #fff;
  border-radius: 50%;
  margin: 30px auto;
  margin-bottom: 15px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.step .step-ul div img {
  margin-top: 25px;
  height: 50px;
}
.step .step-ul li {
  width: 150px;
  text-align: center;
}
.step .step-ul li:hover {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.step .step-ul li:hover div {
  opacity: 1;
}
.news {
  padding: 1px 0;
  padding-bottom: 40px;
}
.news .news-main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  
}
.news .news-main .news-left {
  width: 50%;
}
.news .news-main .news-left div {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.news .news-main .news-left div img {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.news .news-main .news-left div img:hover {
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.news .news-main .news-left span {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  color: #333;
  font-size: 18px;
  line-height: 1.5;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news .news-main .news-left span:hover {
  color: #e34b4f;
}
.news .news-main .news-left time {
  color: #666;
  font-size: 13px;
}
.news .news-main .news-left p {
  width: 100%;
  color: #666;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.news .news-main .news-right {
  width: 50%;
}
.news .news-main .news-right a {
  display: inline-block;
  margin-top: 15px;
}
.news .news-main .news-right a:nth-child(1) {
  margin-top: 0;
}
.news .news-main .news-right a li {
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  display: flex;
  justify-content: space-between;
  height: 90px;
}
.news .news-main .news-right a li .news-time {
  width: 90px;
  height: 90px;
  background: #c0b8ac;
  position: relative;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.news .news-main .news-right a li .news-time time {
  position: absolute;
  color: #fff;
}
.news .news-main .news-right a li .news-time .news-day {
  top: 20px;
  left: 28px;
  font-size: 27px;
}
.news .news-main .news-right a li .news-time .news-month {
  top: 55px;
  left: 50px;
  font-size: 14px;
}
.news .news-main .news-right a li .news-content {
  flex: 1;
  padding: 0 10px;
  box-sizing: border-box;
}
.news .news-main .news-right a li .news-content .news-title {
  font-size: 18px;
  color: #333;
  margin: 7px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news .news-main .news-right a li .news-content p {
  font-size: 14px;
  color: #666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.news .news-main .news-right a li:hover {
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  box-shadow: 2px 2px 10px #ddd;
}
.news .news-main .news-right a li:hover .news-time {
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  background: #e34b4f;
}
.link {
  max-width: 1200px;
  margin: 0 auto;
  margin: 50px auto;
}
.link .link-title {
  height: 35px;
  line-height: 35px;
  border-left: solid 3px #e74c3c;
  background: #f5f5f5;
}
.link .link-title span {
  display: inline-block;
  text-align: center;
  width: 90px;
  color: #333;
  font-size: 16px;
}
.link .link-ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.link .link-ul li {
  padding: 5px 15px 0 0;
  font-size: 14px;
}
.link .link-ul li a {
  color: #888;
}
.footer {
  width: 100%;
  background: #444;
}
.footer .footer-top {
  padding: 30px 0;
  max-width: 1200px;
  margin: 0 auto;
}
.footer .footer-top img {
  width: 200px;
}
.footer .footer-center {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.footer .footer-center .footer-link {
  width: 400px;
  padding-top: 10px;
}
.footer .footer-center .footer-link ul {
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  line-height: 30px;
  margin-bottom: 20px;
}
.footer .footer-center .footer-link ul li {
  width: 25%;
}
.footer .footer-center .footer-link ul li a {
  color: #ccc;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.footer .footer-center .footer-link div {
  display: flex;
  flex-direction: column;
}
.footer .footer-center .footer-link div span {
  padding: 5px 0;
  color: #bbb;
  font-size: 14px;
}
.footer .footer-center .footer-input {
  width: 400px;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.footer .footer-center .footer-input span {
  color: #fff;
  font-size: 18px;
  display: inline-block;
  margin-left: 40px;
  padding-bottom: 10px;
}
.footer .footer-center .footer-input input {
  margin: auto;
  width: 300px;
  height: 35px;
  padding: 0 10px;
  border: 0;
  border-radius: 5px;
  margin-top: 10px;
}
.footer .footer-center .footer-input .footer-but {
  width: 95px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  background: #E33F4B;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  margin-left: 40px;
  cursor: pointer;
}
.footer .footer-center .footer-erw {
  width: 390px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.footer .footer-center .footer-erw .footer-img {
  margin: 10px auto;
  text-align: center;
  background: #fff;
  width: 110px;
  padding: 5px 0;
}
.footer .footer-center .footer-erw .footer-img img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
.footer .footer-center .footer-erw .footer-span {
  margin: 0 auto;
  width: 130px;
  text-align: center;
}
.footer .footer-center .footer-erw .footer-span span {
  font-size: 14px;
  color: #ddd;
}
.footer .footer-bottom {
  margin-top: 30px;
  border-top: solid 1px #ddd;
}
.footer .footer-bottom .footer-beian {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* height: 40px; */
  line-height: 40px;
}
.footer .footer-bottom .footer-beian p {
  color: #aaa;
  font-size: 13px;
}
.footer .footer-bottom .footer-beian p a {
  color: #aaa;
}
.banner-offer {
  height: 214px;
  width: 100%;
  background: url(../img/banner04.jpg) no-repeat 50% 50%;
  background-position: center;
}
.baojia-main {
  max-width: 1200px;
  background: #f4f4f4;
  margin: 60px auto;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.baojia-main .alert-offer {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  background: url(../img/alert-bg.jpg) no-repeat;
  background-size: 100% 100%;
  width: 510px;
  height: 160px;
  margin-top: -80px;
  margin-left: -255px;
  display: none;
}
.baojia-main .alert-offer img {
  position: absolute;
  right: -16px;
  top: -16px;
  width: 35px;
  height: 35px;
}
.baojia-main .alert-offer .offer-end {
  display: flex;
  justify-content: space-around;
  padding: 15px 20px;
}
.baojia-main .alert-offer .offer-end .offer-end-left {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.baojia-main .alert-offer .offer-end .offer-end-left span {
  padding: 6px 0;
  color: #555;
  font-size: 15px;
}
.baojia-main .alert-offer .offer-end .offer-end-left span i {
  font-style: normal;
  color: #f35626;
}
.baojia-main .alert-offer .offer-end .offer-end-right {
  width: 55%;
  padding-top: 30px;
}
.baojia-main .alert-offer .offer-end .offer-end-right span {
  font-size: 18px;
}
.baojia-main .alert-offer .offer-end .offer-end-right span i {
  font-style: normal;
  font-size: 24px;
  color: #f35626;
  padding: 0 10px 0 3px;
}
.baojia-main .alert-offer .offer-end .offer-end-right div {
  margin-top: 10px;
  font-size: 12px;
  color: #777;
}
.baojia-main .baojia {
  width: 600px;
  padding: 0;
}
.baojia-main .baojia-right {
  width: 300px;
  border: solid 1px #ddd;
  text-align: center;
}
.baojia-main .baojia-right .baojia-futitle {
  width: 100%;
  text-align: center;
  margin: 12px auto;
}
.baojia-main .baojia-right .baojia-futitle span {
  color: #666;
  font-size: 14px;
}
.baojia-main .baojia-right .baojia-futitle span i {
  font-style: normal;
  color: red;
  font-weight: 600;
}
.baojia-main .baojia-right .baojia-div {
  width: 260px;
  margin: 0 auto;
  height: 190px;
}
.baojia-main .baojia-right .baojia-div .baojia-roll {
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
}
.baojia-main .baojia-right .baojia-div .baojia-roll div:nth-child(1) {
  color: #666;
  font-size: 14px;
  width: 91px;
  min-width: 91px;
}
.baojia-main .baojia-right .baojia-div .baojia-roll div:nth-child(2) {
  color: #333;
  width: 60px;
  min-width: 60px;
  font-size: 14px;
  text-align: center;
}
.baojia-main .baojia-right .baojia-div .baojia-roll div:nth-child(3) {
  width: 70px;
  min-width: 70px;
  font-size: 14px;
  color: red;
  text-align: right;
}
.baojia-main .baojia-title {
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  color: #f35626;
  text-align: center;
  margin-bottom: 40px;
}
.baojia-main .bj-span {
  font-size: 15px;
  color: #666;
  display: inline-block;
  width: 80px;
}
.baojia-main input {
  height: 30px;
  padding: 0 10px;
  font-size: 13px;
  outline: none;
}
.baojia-main .bj-left-margin {
  margin-left: 50px;
}
.baojia-main .baojia-o {
  padding: 10px 0;
}
.baojia-main .baojia-o select {
  width: 130px;
  height: 33px;
  color: #666;
  outline: none;
  padding-left: 5px;
}
.baojia-main .baojia-o input {
  width: 105px;
}
.baojia-main .baojia-t {
  padding: 10px 0;
}
.baojia-main .baojia-t select {
  width: 130px;
  height: 33px;
  color: #666;
  outline: none;
  padding-left: 5px;
}
.baojia-main .baojia-s {
  padding: 10px 0;
}
.baojia-main .baojia-s input {
  width: 170px;
}
.baojia-main .baojia-s .bj-span2 {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #888;
  padding-left: 5px;
}
.baojia-main .baojia-but {
  text-align: left;
  margin-top: 40px;
}
.baojia-main .baojia-but div {
  display: inline-block;
  width: 200px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  margin: 0 15px;
  background: #fff;
  border: solid 1px #f35626;
  color: #f35626;
  font-size: 15px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.baojia-main .baojia-but div:hover {
  background: #f35626;
  color: #fff;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.baojia-main .baojia-but a {
  display: inline-block;
  width: 200px;
  height: 34px;
  line-height: 34px;
  margin: 0 15px;
  background: #fff;
  border: solid 1px #f35626;
  color: #f35626;
  font-size: 15px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  text-align: center;
}
.baojia-main .baojia-but a:hover {
  background: #f35626;
  color: #fff;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.video-main {
  max-width: 1200px;
  margin: 0 auto;
}
.video-main .video-page-link {
  width: 100%;
  display: flex;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin: 15px 0;
}
.video-main .video-page-link img {
  height: 20px;
  margin-right: 5px;
}

.video-page{
  width: 100%;
}
.start-stop2 {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
}
.video-page-details {
  width: 80%;
  margin: 0 auto;
  background: #f5f5f5;
  padding: 10px 20px;
  position: relative;
  box-sizing: border-box;
}

.video-page h2 {
  font-size: 23px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

.video-page-details .video-details-span {
  font-size: 16px;
  color: #333;
}
.video-page-details p {
  font-size: 18px;
  color: #333;
  line-height: 50px;
}
.video-page-details div{
  text-indent: 2em;
  font-size: 14px;
  color: #666;
}
/* .video-page-details div {
  margin-top: 10px;
  font-size: 12px;
  color:#f4f4f4;
  line-height: 26px;
  text-indent:2em;
} */

.video-pages-bottom {
  width: 100%;
  margin: 20px 0 30px;
}
.video-pages-bottom .video-pages-bottom-title {
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
}
.video-pages-bottom .video-pages-bottom-title h3 {
  font-size: 18px;
  border-left: solid 3px #df2f30;
  padding: 0 10px;
}
.video-pages-bottom .video-pages-bottom-title a {
  color: #666;
  font-size: 12px;
}
.video-pages-bottom .video-ul {
  width: 100%;
  margin: 10px auto;
  display: flex;
  border-top: solid 1px #ddd;
  padding-top: 20px;
  justify-content: space-between;
}
.video-pages-bottom .video-ul li {
  width: 23%;
  text-align: center;
  position: relative;
}
.video-pages-bottom .video-ul li a {
  display: inline-block;
}
.video-pages-bottom .video-ul li a img {
  width: 100%;
  height: 155px;
  vertical-align: bottom;
}
.video-pages-bottom .video-ul li a .video-details {
  text-align: left;
}
.video-pages-bottom .video-ul li a .video-details .video-details-span {
  width: 170px;
  font-size: 15px;
  display:block;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  width: 170px;

}
.video-pages-bottom .video-ul li a .video-details .video-details-div {
  display: flex;
  font-size: 12px;
}
.video-pages-bottom .video-ul li a .video-details .video-details-div span {
  font-size: 12px;
  color: #666;
  padding: 0 10px;
}
.video-pages-bottom .video-ul li a .video-details .video-details-div span:nth-child(1) {
  padding-left: 0;
}
.video-pages-bottom .video-ul li a:hover span {
  color: #df2f30;
}
.video-pages-bottom .video-ul li .start{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-75%);
  -ms-transform: translateX(-50%) translateY(-75%);
  -moz-transform: translateX(-50%) translateY(-75%);
  -webkit-transform: translateX(-50%) translateY(-75%);
  -o-transform: translateX(-50%) translateY(-75%);
  
}
/* .start-stop2 .start-stop-video {
  width: 800px;
  position: absolute;
  top: calc(20%);
  left: calc((50% - 400px));
  z-index: 1;
  text-align: center;
} */
/* .start-stop2 .start-stop-video img {
  display: inline-block;
  width: 38px;
  height: 38px;
  position: absolute;
  top: -16px;
  right: 0;
  opacity: .6;
  z-index: 10;
}
.start-stop2 .start-stop-video img:hover {
  opacity: 1;
}
.start-stop2 .start-stop-video video {
  max-width: 100%;
} */
.video-banner {
  height: 350px;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.video-banner video {
  width: 100%;
  max-width: 1920px;
  display: block;
  margin: 0 auto;
  margin-top: -350px;
  z-index: 1;
}
.video-banner .video-bg {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(44, 44, 44, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
}
.video-banner .video-bg span {
  font-size: 22px;
  color: #eee;
  font-weight: 600;
  display: inline-block;
  margin-top: 150px;
  border: solid 2px #ccc;
  padding: 15px 70px;
}
.video-banner .video-bg span i {
  font-size: 15px;
  color: #fff;
  font-style: normal;
  font-weight: 500;
}
.video-banner .video-bg P {
  margin-top: 20px;
  color: #ddd;
  font-size: 14px;
}
.video-list {
  background: #f5f5f5;
  padding: 60px 0;
}
.video-list .video-ul {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.video-list .video-ul li {
  /* height: 503px; */
  width: 49%;
  background: #fff;
  position: relative;
  margin: 15px 0;
}
.video-list .video-ul li .video-ul-img {
  overflow: hidden;
  height: 403px;
  width: 100%;
}
.video-list .video-ul li .video-ul-img img {
  height: 100%;
  width: 100%;
  vertical-align: bottom;
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.video-list .video-ul li .video-ul-play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 403px;
  text-align: center;
  line-height: 403px;
  background: rgba(0, 0, 0, 0.3);
}
.video-list .video-ul li .video-ul-play div {
  border: solid 1px #eee;
  width: 90%;
  height: 361px;
  margin: 20px auto;
}
.video-list .video-ul li .video-ul-play div img {
  width: 70px;
  height: 70px;
  display: block;
  margin-left: 50%;
  margin-top:28%;
  transform: translateX(-50%);
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.video-list .video-ul li:hover {
  cursor: pointer;
}
.video-list .video-ul li:hover .video-ul-img img {
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.video-list .video-ul li:hover .video-ul-play div img {
  transition: all 0.4s;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transform: scale(0.9);
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.video-list .video-ul li .video-ul-cont span {
  display: inline-block;
  width: 100px;
  height: 3px;
  margin: 20px;
  background: crimson;
}
.video-list .video-ul li .video-ul-cont p {
  padding: 0 20px 30px;
  height: 30px;
  line-height: 30px;
  color: #333;
  font-size: 20px;
  margin-top: -10px;
}

.about-banner {
  height: 214px;
  width: 100%;
  background: url(../img/banner05.jpg) no-repeat 50% 50%;
  background-position: center;
}
.about-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0;
}
.about-main h2 {
  text-align: center;
  border-bottom: solid 1px #ddd;
  padding-bottom: 30px;
}
.about-main .about-contact {
  margin: 60px 0;
  display: flex;
}
.about-main .about-contact .about-contact-left {
  width: 600px;
}
.about-main .about-contact .about-contact-left img {
  width: 100%;
}
.about-main .about-contact .about-contact-right {
  width: 540px;
  padding: 0 30px;
}
.about-main .about-contact .about-contact-right span {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
}
.about-main .about-contact .about-contact-right span p {
  text-indent: 2em;
}
.about-main .about-contact .about-contact-right span:nth-child(1) {
  font-size: 20px;
  margin-bottom: 25px;
}
.news-banner {
  height: 214px;
  width: 100%;
  background: url(../img/news_banner.jpg) no-repeat 50% 50%;
  background-position: center;
}
.news-main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
.news-main .news-left {
  width: 900px;
}
.news-main .news-left .news-list-title {
  height: 40px;
  line-height: 40px;
  border-bottom: solid 1px #ccc;
  display: flex;
}
.news-main .news-left .news-list-title span {
  font-size: 14px;
  color: #333;
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
}
.news-main .news-left .news-list-title .active {
  background: #e12c28;
  color: #fff;
}
.news-main .news-left .news-left-ul li {
  border-bottom: dashed 1px #ddd;
  padding: 20px 0;
}
.news-main .news-left .news-left-ul li a {
  display: flex;
  justify-content: space-between;
}
.news-main .news-left .news-left-ul li a .news-ul-img {
  width: 200px;
  height: 130px;
  border: solid 1px #eee;
}
.news-main .news-left .news-left-ul li a .news-ul-img img {
  width: 100%;
  height: 100%;
}
.news-main .news-left .news-left-ul li a .news-ul-content {
  /* width: 680px; */
  flex: 1;
  margin-left: 20px;
}
.news-main .news-left .news-left-ul li a .news-ul-content span {
  font-size: 17px;
}
.news-main .news-left .news-left-ul li a .news-ul-content>span {
  display: block;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.news-main .news-left .news-left-ul li a .news-ul-content p {
  font-size: 14px;
  height: 60px;
  margin: 10px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-indent: 2em;
  color: #888;
}
.news-main .news-left .news-left-ul li a .news-ul-content .news-ul-time {
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
}
.news-main .news-left .news-left-ul li a .news-ul-content .news-ul-time time {
  font-size: 14px;
  color: #888;
}
.news-main .news-left .news-left-ul li a .news-ul-content .news-ul-time span {
  font-size: 13px;
  padding: 0 15px;
  border: solid 1px #ccc;
  color: #666;
}
.news-main .news-left .pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0 50px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0 50px;
}
.news-main .news-left .pagination li {
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  border: solid 1px #ccc;
  margin: 0 4px;
}
.pagination li {
  cursor: pointer;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  border: solid 1px #ccc;
  margin: 0 4px;
}
.news-main .news-left .pagination li a,
.news-main .news-left .pagination li span {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}
.pagination li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}
.pagination li span {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}
.news-main .news-left .pagination .active {
  border: solid 1px #e12c28;
  background: #e12c28;
}
.pagination .active {
  border: solid 1px #e12c28;
  background: #e12c28;
}
.news-main .news-left .pagination .active span {
  color: #fff;
}
.pagination .active span {
  color: #fff;
}
.news-right {
  width: 270px;
}
.news-right .news-right-title {
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  padding: 3px 8px;
  border-left: solid 3px #df2f30;
}
.news-right .news-right-bottom {
  margin-top: 10px;
}
.news-right img {
  width: 100%;
}
.news-right .news-right-ul {
  margin-top: 10px;
}
.news-right .news-right-ul li {
  width: 100%;
  height: 65px;
  margin: 10px 0;
}
.news-right .news-right-ul li a {
  display: flex;
  justify-content: space-between;
}
.news-right .news-right-ul li a .news-right-img {
  width: 90px;
  height: 58px;
  border: solid 1px #eee;
}
.news-right .news-right-ul li a .news-right-img img {
  width: 100%;
  height: 100%;
}
.news-right .news-right-ul li a .news-right-cont {
  width: 165px;
  flex: 1;
  margin-left: 10px;
}
.news-right .news-right-ul li a .news-right-cont span {
  font-size: 14px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #444;
}
.news-right .news-right-ul li a .news-right-cont p {
  font-size: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #888;
  text-indent: 1em;
}
.news-page-main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
.news-page-main .news-page-left {
  width: 900px;
  margin-right: 10px;
}
.news-page-main .news-page-left .news-page-title {
  font-size: 26px;
  font-weight: 400;
  color: #000;
  margin-top: 10px;
}
.news-page-main .news-page-left .news-page-details {
  padding-bottom: 15px;
  border-bottom: solid 1px #ddd;
}
.news-page-main .news-page-left .news-page-details span {
  font-size: 14px;
  color: #666;
  display: inline-block;
  margin: 10px 20px 0 0;
}
.news-page-main .news-page-left .news-page-cont {
  padding: 20px 0;
  color: #333;
  font-size: 15px;
  line-height: 24px;
}
.news-page-main .news-page-left .news-page-cont img {
  max-width: 100% !important;
  height: auto;
}
.news-page-main .news-page-left .news-page-bottom {
  display: flex;
  justify-content: space-between;
}
.news-page-main .news-page-left .news-page-bottom .news-page-and-down span {
  display: block;
  color: #666;
  font-size: 14px;
}
.news-page-main .news-page-left .news-page-bottom .news-page-and-down a {
  color: #666;
  font-size: 14px;
}
.cases-lists {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}
.cases-lists .pagination{
    display: flex;
    justify-content: center;
    margin: 20px 0 50px;
}
.cases-lists .pagination li{
  line-height: 23px;
}
.cases-lists .cases-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cases-lists .cases-ul li {
  width: 32%;
  margin-bottom:20px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.cases-lists .cases-ul li:nth-child(3n) {
  margin-right: 0;
}
.cases-lists .cases-ul li:hover {
  box-shadow: 1px 2px 10px #ccc;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.cases-lists .cases-ul li a .cases-img img {
  width: 100%;
  height: 250px;
  display: block;
}
.cases-lists .cases-ul li a .cases-content {
  border: solid 1px #e4e4e4;
  border-top: 0;
  padding: 0 10px 10px;
}
.cases-lists .cases-ul li a .cases-content .cases-content-top {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}
.cases-lists .cases-ul li a .cases-content .cases-content-center {
  color: #999;
  font-size: 13px;
}
.cases-lists .cases-ul li a .cases-content .cases-content-center span {
  font-size: 14px;
  color: #666;
  display: inline-block;
  padding: 0 10px;
}
.cases-lists .cases-ul li a .cases-content .cases-content-center span:nth-child(1) {
  padding-left: 0;
}
.cases-lists .cases-ul li a .cases-content .cases-content-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.cases-lists .cases-ul li a .cases-content .cases-content-bottom .cases-content-address {
  font-size: 15px;
  color: #333;
}
.cases-lists .cases-ul li a .cases-content .cases-content-bottom .cases-content-price {
  font-weight: 600;
  color: #df2f30;
}
.cases-lists .paging-page {
  display: flex;
  justify-content: center;
  margin: 20px 0 50px;
}
.cases-lists .paging-page span {
  cursor: pointer;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  border: solid 1px #ccc;
  margin: 0 4px;
}
.cases-lists .paging-page .color_red {
  color: #fff;
  border: solid 1px #e12c28;
  background: #e12c28;
}
.list-none {
  text-align: center;
  margin-bottom: 80px;
}
.list-none img {
  margin: 10px auto;
  display: block;
}
.list-none span {
  font-size: 17px;
  color: #999;
}
.search-page {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}
.search-page .search-ul {
  border: solid 1px #ddd;
}
.search-page .search-ul li {
  height: 45px;
  line-height: 45px;
  border-top: dashed 1px #ddd;
  display: flex;
}
.search-page .search-ul>li{
  width: 100%;
}
.search-page .search-ul li:nth-child(1) {
  border: 0;
}
.search-page .search-ul li .search-title {
  background: #f4f4f4;
  font-size: 13px;
  color: #555;
  width: 100px;
  text-align: center;
}
.search-page .search-ul li .search-lists {
  display: flex;
}
.search-page .search-ul li .search-lists li {
  border: 0;
  padding: 0 18px;
}
.search-page .search-ul li .search-lists li span {
  color: #555;
  font-size: 13px;
  cursor: pointer;
}
.search-page .search-ul li .search-lists li span:hover {
  color: red;
}
.search-page .search-ul li .search-lists li:nth-child(1) {
  padding-left: 36px;
}
.search-page .search-ul li .search-lists li .color-red {
  color: red;
}
.search-page .sorting {
  margin: 20px 0;
}
.search-page .sorting .search-lists {
  display: flex;
}
.search-page .sorting .search-lists li {
  font-size: 14px;
  width: 100px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin-right: 20px;
  border: solid 1px #ccc;
  color: #333;
  cursor: pointer;
}
.search-page .sorting .search-lists .bgcolor {
  background: #e12c28;
  color: #fff;
  border: solid 1px #e12c28;
}
.cases-page {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cases-page .cases-page-link {
  width: 1200px;
  display: flex;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin: 15px 0;
}
.cases-page .cases-page-link img {
  height: 20px;
  margin-right: 5px;
}
.cases-page .cases-page-link span,
.cases-page .cases-page-link a {
  color: #666;
}
.cases-page .cases-page-left {
  width: 75%;
  flex: 1;
  margin-right: 20px;
}
.cases-page .cases-page-left .cases-swiper {
  width: 100%;
  height: 526px;
  background: #f5f5f5;
}
.cases-page .cases-page-left .cases-swiper img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.cases-page .cases-page-left .cases-page-details {
  background: #f5f5f5;
  padding: 10px 20px;
  position: relative;
}
.cases-page .cases-page-left .cases-page-details h2 {
  font-size: 23px;
  height: 45px;
  line-height: 45px;
}
.cases-page .cases-page-left .cases-page-details .cases-page-list {
  display: flex;
  font-size: 12px;
}
.cases-page .cases-page-left .cases-page-details .cases-page-list span {
  font-size: 14px;
  color: #666;
  padding: 0 10px;
}
.cases-page .cases-page-left .cases-page-details .cases-page-list span:nth-child(1) {
  padding-left: 0;
}
.cases-page .cases-page-left .cases-page-details .page-details-span {
  font-size: 16px;
  color: #333;
}
.cases-page .cases-page-left .cases-page-details p {
  margin-top: 10px;
  font-size: 15px;
  color: #333;
  line-height: 26px;
}
.cases-page .cases-page-left .cases-page-details .page-price {
  position: absolute;
  top: 10px;
  right: 20px;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  color: #df2f30;
  font-size: 20px;
  font-weight: 600;
}
.cases-page .cases-page-left .page-content-title {
  font-size: 18px;
  display: inline-block;
  margin: 20px 0;
}
.cases-page .cases-page-left .cases-page-content {
  margin: 20px 0 60px;
  text-align: center;
}
.cases-page .cases-page-left .cases-page-content span {
  font-size: 15px;
}
.cases-page .cases-page-left .cases-page-content img {
  max-width: 100%;
  vertical-align: bottom;
  margin-bottom: 10px;
}
.cases-page .cases-page-right {
  width: 280px;
}
.cases-page .cases-page-right .page-title {
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  padding: 2px 8px;
  border-left: solid 3px #df2f30;
}
.cases-page .cases-page-right .page-input {
  margin: 15px auto;
  text-align: center;
}
.cases-page .cases-page-right .page-input input {
  width: 180px;
  padding: 0 10px;
  height: 27px;
  margin: 5px 0;
}
.cases-page .cases-page-right .page-input .page-but {
  width: 200px;
  background: #df2f30;
  border: 0;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  cursor: pointer;
}
.cases-page .cases-page-right .page-input span {
  font-size: 14px;
}
.cases-page .cases-page-right .page-input span i {
  font-style: normal;
  color: red;
}
.cases-page .cases-page-right .cases-page-guess {
  padding-top: 10px;
}
.cases-page .cases-page-right .cases-page-guess .page-guess-ul {
  margin: 15px auto;
}
.cases-page .cases-page-right .cases-page-guess .page-guess-ul li {
  text-align: center;
}
.cases-page .cases-page-right .cases-page-guess .page-guess-ul li a {
  display: inline-block;
  width: 230px;
  border-bottom: solid 1px #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.cases-page .cases-page-right .cases-page-guess .page-guess-ul li a img {
  width: 230px;
  height: 151px;
  vertical-align: bottom;
}
.cases-page .cases-page-right .cases-page-guess .page-guess-ul li a .page-details {
  text-align: left;
}
.cases-page .cases-page-right .cases-page-guess .page-guess-ul li a .page-details .page-details-span {
  font-size: 15px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
.cases-page .cases-page-right .cases-page-guess .page-guess-ul li a .page-details .page-details-div {
  display: flex;
  font-size: 12px;
}
.cases-page .cases-page-right .cases-page-guess .page-guess-ul li a .page-details .page-details-div span {
  font-size: 12px;
  color: #666;
  padding: 0 10px;
}
.cases-page .cases-page-right .cases-page-guess .page-guess-ul li a .page-details .page-details-div span:nth-child(1) {
  padding-left: 0;
}
.cases-page .cases-page-right .cases-page-guess .page-guess-ul li a:hover span {
  color: #df2f30;
}
.cases-page .cases-pages-bottom {
  width: 100%;
  margin: 20px 0 30px;
}
.cases-page .cases-pages-bottom .cases-pages-bottom-title {
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
}
.cases-page .cases-pages-bottom .cases-pages-bottom-title h3 {
  font-size: 18px;
  border-left: solid 3px #df2f30;
  padding: 0 10px;
}
.cases-page .cases-pages-bottom .cases-pages-bottom-title a {
  color: #666;
  font-size: 12px;
}
.cases-page .cases-pages-bottom .page-ul {
  width: 100%;
  margin: 10px auto;
  display: flex;
  border-top: solid 1px #ddd;
  padding-top: 20px;
  justify-content: space-between;
}
.cases-page .cases-pages-bottom .page-ul li {
  width: 19%;
  text-align: center;
}
.cases-page .cases-pages-bottom .page-ul li a {
  display: inline-block;
  
}
.cases-page .cases-pages-bottom .page-ul li a img {
  width: 100%;
  max-height: 141px;
  vertical-align: bottom;
}
.cases-page .cases-pages-bottom .page-ul li a .page-details {
  text-align: left;
}
.cases-page .cases-pages-bottom .page-ul li a .page-details .page-details-span {
  font-size: 15px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
.cases-page .cases-pages-bottom .page-ul li a .page-details .page-details-div {
  display: flex;
  font-size: 12px;
}
.cases-page .cases-pages-bottom .page-ul li a .page-details .page-details-div span {
  font-size: 12px;
  color: #666;
  padding: 0 10px;
}
.cases-page .cases-pages-bottom .page-ul li a .page-details .page-details-div span:nth-child(1) {
  padding-left: 0;
}
.cases-page .cases-pages-bottom .page-ul li a:hover span {
  color: #df2f30;
}
.nav-head{
  display: none;
  height: 50px;
  line-height: 50px;
  color: #fff;
  color: white;
}
.nav-head img{
  width: 30px;
  height: 30px;
  margin-top:10px ;
  cursor: pointer;
}

/* 媒体查询 */

/* 屏幕小于1200 */
@media screen and (max-width: 1200px) {
  .tobar{
    display: none;
  }
  .header-right{
    display: none;
  }
  .banner img{
    /* max-width: 1200px;
    height: 400px; */
    width: 100%;
    height: auto;
  }
  .swiper-wrapper {
    /* height: 400px; */
    height: auto;
}
  .adtage .adtage-img{
    width: 130px !important;
    height: 130px !important;
  }
  .adtage .adtage-img img{
    width: 130px !important;
    height: 130px !important;
  }
  .adtage .adtage-img div{
    width: 130px !important;
    height: 130px !important;
  }
  .baojia .baojia-form{
    justify-content: center;
  }
  .baojia .baojia-form .baojia-left{
    display: none;
  }
  .case .case-ul{
    width: 80%;
    justify-content: space-around;
  }
  .cases-lists .cases-ul{
    padding: 0 10px;
    box-sizing: border-box;
  }
  .step .step-ul li div{
    width: 75px;
    height:75px;
  }
  .step .step-ul div img{
    width: 30px;
    height: 30px;
  }
  .news-main{
    padding: 0 10px;
    box-sizing: border-box;
  }
  .news-page-main{
    padding: 0 15px;
    box-sizing: border-box;
  }
  /* .build .build-ul li{
    width: 240px;
  } */
  .footer-top{
    text-align: center;
  }
  .build .build-ul {
    justify-content: space-around;
}
  /* 首页end */
  .baojia-main .baojia-right{
    display: none;
  }
  /* 报价页end */
.news-main .news-left{
  width: 70%;
}
.news-main .news-right{
  width: 27%;
}
  /* 资讯动态 end*/
.search-lists-div::-webkit-scrollbar{
    display: none; 
}
.search-lists-div::-moz-scrollbar{
  display: none; 
}
  .search-lists-div{
    width: 100%;
    overflow-x: scroll;
  }
  .search-page .search-ul li .search-lists{
    width: 800px;
  }
  .cases-lists .cases-ul li a .cases-img img {
    height: auto;
  }
  .cases-page .cases-page-link{
    margin-left: 20px;
  }
  .cases-page .cases-page-left{
    margin-left: 20px;
  }
  .cases-page .cases-page-left .cases-swiper {
    width: 100%;
    height: 370px;
    background: #f5f5f5;
  }
  .cases-page .cases-page-left .cases-page-content img{
    height: 370px !important;
  }
  .cases-page .cases-pages-bottom .page-ul li a .page-details .page-details-div span{
    padding: 0 3px;
  }
  /* 精彩案例end */
  .about-main .about-contact{
    display: block;
  }
  .about-main .about-contact .about-contact-left{
    width: 95%;
    margin: 0 auto;
  }
  .about-main .about-contact .about-contact-right{
    width: 95%;
    margin: 20px auto 0;
    text-align: center;
    padding:0;

  }
  .search-page .search-ul{
    margin: 0 5px;
  }
  .search-page .sorting .search-lists{
    justify-content: space-around;
    
  }
  .search-page .sorting .search-lists li{
    width: 27%;
    margin-right: 0;
  }
  /* 关于我们end */
  .video-list .video-ul{
    padding: 0 15px;
    box-sizing: border-box;
  }
  .video-list .video-ul li .video-ul-img{
    height: 325px;
  }
  .video-list .video-ul li .video-ul-play{
    height: 325px;
  }
  .video-list .video-ul li .video-ul-play div{
    height: 283px;
  }
  .video-list .video-ul li .video-ul-play div img{
    margin-top: 108px;
  }
  .video-main{
    padding: 0 20px;
    box-sizing: border-box;
  }
  .video-banner video {
    width: 100%;
    max-width: 1920px;
    display: block;
    margin: 0 auto;
    margin-top: 0px;
    z-index: 1;
  }
  .video-pages-bottom .video-ul li a img {
    height: 110px;
  }
  /* 视频end */
}
@media screen and (min-width:1000px) and (max-width:1040px){
  .case .case-ul {
    width: 65%;
  }
}
/* 小于1000 */
@media screen and (max-width:1000px){
  .video-list .video-ul li .video-ul-img{
    height: 300px;
  }
  .video-list .video-ul li .video-ul-play{
    height: 300px;
  }
  .video-list .video-ul li .video-ul-play div{
    height: 258px;
  }
  .video-list .video-ul li .video-ul-play div img{
    margin-top: 95px;
  }
/* 装修视频end */
}
/* 小于768 */

 @media screen and (max-width:768px) {
  
   .toheader .header-logo{
    margin:0 auto;
  }
  .header-center{
    display: none;
  }
  .nav-head{
    display: block;
  }
  .mhm-header nav{
    position: relative;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .mhm-header nav ul{
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    flex-direction: column;
    z-index: 100;
    width: 100%; 
  }
  .mhm-header nav ul li{
    /* width: 100%; */
    width: 95px;
    z-index: 10;
    background: #b60005;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .banner img{
    /* max-width: 768px;
    height: 300px; */
    width: 100%;
    height: auto;
  }
  .swiper-wrapper {
    /* height: 300px; */
    height: auto;
  }
  .adtage .adtage-img{
    width: 85px !important;
    height: 85px !important;
  }
  .adtage .adtage-img img{
    width: 85px !important;
    height: 85px !important;
  }
  .adtage .adtage-img div{
    width: 85px !important;
    height: 85px !important;
  }
  .adtage li span{
    font-size: 12px !important;
  }
  .adtage li p{
    display: none;
  }
  .adtage ul{
    margin: 30px 0;
  }
  .banner .banner-xinx .del{
    display: block;
  }
  .step .step-ul{
    flex-wrap: wrap;
  }
  .step .step-ul li{
    width: 154px;
    height: 120px;
  }
  .main-title{
    margin-bottom: 20px;
  }
  .main-title p {
    padding:0 10px;
    box-sizing: border-box;
  }
  .step .step-ul li div{
    width: 50px;
    height:50px;
    font-size: 14px !important;
  }
  .step .step-ul div img{
    width: 20px;
    height: 20px;
    margin-top: 15px;
  }
  .step .step-ul li span{
    font-size: 12px !important;
  }
  
  .news .news-main{
    display: block;
  }
  .news .news-main .news-left{
    width: 100%;
    text-align: center;
  }
  .news .news-main .news-right{
    width: 100%;
    margin-top: 30px;
  }
  .news .news-main .news-right a{
    width: 100%;
  }
  .news .news-main .news-right a li{
    width: 100%;
    box-sizing: border-box;
  }
  .news .news-main .news-right a li .news-content .news-title {
    font-size: 16px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
  .news .news-main .news-right a li .news-content p {
    font-size: 12px;
  }
  .build .build-ul{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .build .build-ul li{
    width: 48%;
    margin-top: 20px;
  }
  .footer .footer-bottom .footer-beian{
    display: block;
    
  }
  .footer .footer-bottom .footer-beian p{
    line-height: 40px;
    margin-bottom: 0px;
    text-align: center;
  }
  .footer .footer-center{
    display: block;
  }
  .footer .footer-center .footer-link{
    width: 90%;
    margin: 0 auto;
  }
  .footer .footer-center .footer-input{
    width: 90%;
    border: 1px solid #ccc;
    margin: 10px auto;
  }
  .footer .footer-center .footer-erw {
    width: 100%;
  }
  /* 首页end */
  .baojia-main .baojia{
    width: 90%;
    margin: 0 auto;
  }
  .baojia-main .bj-left-margin{
    margin-left: 0;
    line-height: 33px;
  }
  .baojia-main .midd-zhehang{
    display: block;
    height: 10px;
  }
  .baojia-main .baojia-but div{
    display: block;
    margin:0 auto 10px ;
  }
  .baojia-main .baojia-but a{
    display: block;
    margin:0 auto;
  }
  /* 报价end */
  .news-list .news-main .news-right{
    display: none;
  }
  .news-list .news-main .news-left{
    width: 100%;
    /* padding:0 15px ; */
    box-sizing: border-box;
  }
  .news-page-main .news-page-left{
    width: 100%;
    box-sizing: border-box;
    margin-right: 0;
  }
  .news-page-main .news-right{
    display: none;
  }
  /* 资讯动态 */
  .cases-lists .cases-ul li {
    width: 48%;
  }
  .cases-lists .cases-ul li a .cases-content .cases-content-top{
    height: 34px;
    line-height: 34px;
    font-size: 14px;
  }
  .cases-lists .cases-ul li a .cases-content .cases-content-center{
    font-size: 10px;
  }
  .cases-lists .cases-ul li a .cases-content .cases-content-center span{
    font-size: 11px;
    padding:0 3px;
  }
  .cases-lists .cases-ul li a .cases-content .cases-content-bottom .cases-content-address {
    font-size: 12px;
  }
  .cases-lists .cases-ul li a .cases-content .cases-content-bottom .cases-content-price{
    font-size: 12px;
  }
  .cases-page .cases-page-left{
    width: 100%;
    flex: auto;
  }
  .cases-page .cases-page-left .cases-swiper{
    height: auto;
  }
  .cases-page .cases-page-left .cases-swiper img{
    height: auto;
  }
  .cases-page .cases-page-left .cases-page-content img{
    height: auto !important;
  }
  .cases-page .cases-page-right .cases-page-guess{
    display: none;
  }
  .cases-page .cases-page-right{
    margin: 0 auto;
    text-align: center;
  }
  .cases-page .cases-page-right .page-title{
    border-left: none;
  }
  .cases-page .cases-pages-bottom .page-ul{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .cases-page .cases-pages-bottom .page-ul li{
    width: 48%;
    margin-top: 20px;
  }
  .cases-page .cases-pages-bottom .page-ul li:last-child{
    display: none;
  }
  /* 精彩案例end */
 
  .video-list .video-ul li .video-ul-img{
    height: 200px;
  }
  .video-list .video-ul li .video-ul-play{
    height: 200px;
  }
  .video-list .video-ul li .video-ul-play div{
    height: 168px;
  }
  .video-list .video-ul li .video-ul-play div img{
    width: 40px;
    height: 40px;
    margin-top: 58px;
  }
 
  .video-banner video {
    margin-top: 0px;
  }
  .video-pages-bottom .video-ul{
    flex-wrap: wrap;
  }
  .video-pages-bottom .video-ul li{
    width: 48%;
  }
  .video-pages-bottom .video-ul li a img{
    height: 150px;
  }
  /* 装修视频 */
}
@media screen and (max-width:625px){
  .video-banner{
    height: auto;
  }
  .video-banner .video-bg span{
    margin-top: 95px;
  }
}
/* 小于450 */
@media screen and (max-width:450px){
  .banner-xinx{
    right:0;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  .mhm-header .toheader{
    height: auto;
  }
  .mhm-header .toheader .header-logo{
    margin-top: 20px;
    height: 45px;
  }
  .mhm-header .toheader .header-logo img{
    height: 80%;
  }
  .banner img{
    width: 100%;
    /* height: auto; */
    height: 150px;
  }
  .swiper-wrapper {
    /* height: auto; */
    height: 150px;
  }
  .nav-head{
    height: 38px;
    line-height: 38px;
  }
  .nav-head img{
    margin-top: 4px;
  }
  .mhm-header nav ul{
    top: 38px;
  }
  .mhm-header nav ul li{
    height: 45px;
    line-height: 45px;
  }
  #newBridge .nb-invite-skin-7{
    display: none;
  }
  .adtage .adtage-img{
    width: 55px !important;
    height: 55px !important;
  }
  .adtage .adtage-img img{
    width: 55px !important;
    height: 55px !important;
  }
  .adtage .adtage-img div{
    display: none;
  }
  .main-title{
    margin-bottom: 20px;
  }
  .step .step-ul{
    flex-wrap: wrap;
  }
  .step .step-ul li{
    width: 83px;
    height: 105px;
  }
  .news .news-main .news-right a li .news-content{
    width: 250px;
  }
  .build .build-ul li .visit{
    height: 30px;
    line-height: 30px;
  }
  .build .build-ul li .visit .visit-span .look {
    display: none;
  }
  .case .case-ul{
    width: 90%;
  }
  .case .case-ul li{
    width: 100%;
  }
  .case .case-ul li img{
    width: 100%;
  }
  .footer-input{
    width: 90%;
    margin: 0 auto;
  }
  .footer .footer-center .footer-input input{
    width: 60%;
  }
  .footer .footer-center .footer-input .footer-but{
    margin-top: 10px;
  }
  .baojia .baojia-form .baojia-right{
    padding: 10px 5px;
    box-sizing: border-box;
  }
  /* 首页end */
  .news-main .news-left .news-left-ul li a .news-ul-content{
    margin-left: 0px;
  }
  .news-main .news-left .news-left-ul li a .news-ul-content>span{
    width: 250px;
    font-size: 14px;
    padding-left: 10px;
    box-sizing: border-box;
  }
  .news-main .news-left .news-left-ul li a .news-ul-content .news-ul-time{
    height: 24px;
    line-height: 24px;
  }
  .news-main .news-left .news-left-ul li a .news-ul-content .news-ul-time time{
    font-size: 12px;
    margin-left: 10px;
  }
  .news-main .news-left .news-left-ul li a .news-ul-content .news-ul-time span{
    font-size: 12px;
  }
  .news-main .news-left .news-left-ul li a .news-ul-content p{
    width: 250px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 1;
    display: block;
    -webkit-box-orient: "";
    height: auto;
    font-size: 12px;
  }
  .news-main .news-left .news-left-ul li a .news-ul-img{
    width: 100px;
    height: 70px;
  }
  .news-main .news-left .news-list-title span{
    padding: 0 10px;
    box-sizing: border-box;
  }
  .cases-page .cases-page-left .cases-page-details h2 {
    font-size: 16px;
    height: 32px;
    line-height: 32px;
  }
  .cases-page .cases-page-left .cases-page-details .page-price{
    font-size: 16px;
      height: 32px;
      line-height: 32px;
  }

  /* 资讯动态end */
  .about-main .about-contact .about-contact-right span:nth-child(1) {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }
  .about-main .about-contact .about-contact-right span{
    font-size: 12px;
    text-align: left;
  }
  /* 关于我们end */
  .video-list .video-ul{
    padding: 0 8px;
    box-sizing: border-box;
  }
  .video-list .video-ul li .video-ul-img{
    height: 100px;
  }
  .video-list .video-ul li .video-ul-play{
    height: 100px;
  }
  .video-list .video-ul li .video-ul-play div{
    height: 78px;
    margin: 10px auto;
  }
  .video-list .video-ul li .video-ul-play div img{
    width: 25px;
    height: 25px;
    margin-top: 30px;
  }
  .video-list .video-ul li .video-ul-cont span{
    width: 50px;
    margin: 10px;
  }
  .video-list .video-ul li .video-ul-cont p{
    font-size: 14px;
    padding: 0 10px 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .video-banner {
    height: auto;
  }
  .video-banner .video-bg span {
    font-size: 18px;
    margin-top: 50px;
    padding: 15px 50px;
  }
  .video-banner .video-bg P {
    font-size: 12px;
  }
  .start-stop2 {
    width: 100%;
    height: 180px;
  }
  .video-page-details{
    width: 100%;
  }
  .video-page h2{
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }
  .video-pages-bottom .video-ul li a img{
    height: 100px;
  }
  .video-pages-bottom .video-ul li a .video-details .video-details-span{
    width: 130px;
  }
  .video-pages-bottom .video-ul li .start{
    width: 25px;
    height: 25px;
    top: 43%;
  }
  /* 视频end */
}
@media screen and (max-width:320px){
  .step .step-ul li{
    width: 80px;
    height: 105px;
  }
  .news .news-main .news-right a li .news-content{
    width: 210px;
  }
  .baojia .baojia-form {
    display: none !important;
  }
  .baojia .baojia-from-money{
    display: block;
  }
  /* 首页end */
  .news-main .news-left .news-left-ul li a .news-ul-content>span{
    width: 200px;
  }
  .news-main .news-left .news-left-ul li a .news-ul-content p{
    width: 200px;
  }
  .news-main .news-left .news-list-title span{
    padding: 0 10px;
    font-size: 10px;
  }
  
  /* 资讯动态end */
 .cases-lists .cases-ul{
    padding: 0px;
    box-sizing: border-box;
  }
  .cases-lists .cases-ul li a .cases-content{
    padding:0 5px 10px
  }
  .cases-lists .cases-ul li a .cases-content .cases-content-center span {
    padding: 0 2px;
  }
  /* 精彩案例 end */
}

