<!-- 头部 -->
<div class="mhm-header">
  <div class="tobar">
    <div class="tobar-main">
      <span>精心服务、良心打造、用心创作</span>
      <a href="{:url('index/about')}">关于我们</a>
    </div>
  </div>
  <div class="toheader">
    <div class="header-logo">
      <img src="/static/resource/img/logo2.png" alt="">
    </div>
    <div class="header-center">
      <div class="header-sousuo">
        <div class="option" id="option">
          <span class="option-sapn" onclick="howe()">
            <span>{:input('param.key','精彩案例')}</span>
            <i></i>
          </span>
          <ul class="option-ul">
            <li>精彩案例</li>
            <li>装修视频</li>
            <li>新闻动态</li>
          </ul>
        </div>
        <input type="text" placeholder="请输入关键字" class="sousuo-input" value="{:input('param.value','')}">
        <span class="sousuo-text">
          搜索
        </span>
      </div>
    </div>
    <div class="header-right">
      <span>010-67765605</span>
    </div>
  </div>
  <nav>
    <p class="nav-head">
      <img src="/static/resource/img/category.png" alt="">
    </p>
    <ul>
      <li>
        <a href="{:url('index/index')}">网站首页</a>
      </li>
      <li>
        <a href="{:url('index/offer')}">工程报价</a>
      </li>
      <li>
        <a href="{:url('index/cases')}">精彩案例</a>
      </li>
      <li>
        <a href="{:url('index/news')}">资讯动态</a>
      </li>
      <li>
        <a href="{:url('index/video')}">装修视频</a>
      </li>
      <li>
        <a href="{:url('index/about')}">关于企业</a>
      </li>
    </ul>
  </nav>

</div>
{__CONTENT__}

<!-- footer -->
<div class="fiexd" onclick="goTop()">
  <img src="/static/resource/img/top.png">
</div>
<div class="footer">
  <div class="footer-top">
    <img src="/static/resource/img/logo.png">
  </div>
  <div class="footer-center">
    <div class="footer-link">
      <ul>
        <li>
          <a href="{:url('index/index')}">网站首页</a>
        </li>
        <li>
          <a href="{:url('index/offer')}">工程报价</a>
        </li>
        <li>
          <a href="{:url('index/cases')}">精彩案例</a>
        </li>
        <li>
          <a href="{:url('index/news')}">资讯动态</a>
        </li>
        <li>
          <a href="{:url('index/video')}">装修视频</a>
        </li>
        <li>
          <a href="{:url('index/about')}">关于企业</a>
        </li>
      </ul>
      <div>
        <span>北京卯合卯建筑装饰工程设计有限责任公司</span>
        <span>联系方式1：18610466388</span>
        <span>联系方式2：18610794808</span>
        <span>公司地址：北京市朝阳区王四营观音堂398号院内东向11号</span>
      </div>
    </div>
    <form class="footer-input" id="make">
      <span>在线预约尊享贵宾体验</span>
      <input type="text" placeholder="姓名" name="name" id="footerName">
      <input type="text" placeholder="联系电话" name="tel" id="footerTel">
      <div class="footer-but" onclick="make()">提交</div>
    </form>
    <div class="footer-erw">
      <!--					<div>-->
      <!--						<div class="footer-img">-->
      <!--							<img src="/static/resource/img/erw01.jpg">-->
      <!--						</div>-->
      <!--						<div class="footer-span">-->
      <!--							<span>用手机扫描查看</span>-->
      <!--						</div>-->
      <!--					</div>-->
      <div>
        <div class="footer-img">
          <img src="/static/resource/img/erw02.jpg">
        </div>
        <div class="footer-span">
          <span>关注卯合卯公众号</span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-beian">
      <p>Copyright © 2019 北京卯合卯建筑装饰工程设计有限责任公司 版权所有 京ICP备19022700号-2</p>
      <p>技术支持：<a href="http://www.maohemao.com" rel=”nofollow”>北京卯合卯科技</a></p>
    </div>
  </div>
</div>

<script src="/static/resource/js/index.js"></script>
<script>
  function make() {
    $.post("{:url('index/make')}", $('#make').serialize(), function (res) {
      alert(res.msg);
    });
  }

  // 头部搜索
  $('body').bind('click', function (event) {
    // IE支持 event.srcElement ， FF支持 event.target
    var evt = event.srcElement ? event.srcElement : event.target;
    var zyhl = evt.parentNode.parentNode
    if (zyhl.id == 'option') return; // 如果是元素本身，则返回
    else {
      $('.option-ul').hide(); // 如不是则隐藏元素
    }
  });
  function howe() {
    $('.option-ul').toggle()
  }
  $('.option-ul li').click(function () {
    let oindex = $(this).index();
    let optionHtml = $('.option-ul li').eq(oindex).text();
    $('.option-sapn span').text(optionHtml);
    $('.option-ul').toggle()
  });
  $('.sousuo-text').click(function () {
    let ovalue = $('.sousuo-input').val();
    let odata = [$('.option-sapn span').text(), ovalue];
    // console.log(odata);
    if (odata[0] == "精彩案例") {
      window.location.href = "http://maohemao.cn/mgr/index/cases?key=" + odata[0] + "&value=" + odata[1];
    }
    if (odata[0] == "装修视频") {
      window.location.href = "http://maohemao.cn/mgr/index/video?key=" + odata[0] + "&value=" + odata[1];
    }
    if (odata[0] == "新闻动态") {
      window.location.href = "http://maohemao.cn/mgr/index/news?key=" + odata[0] + "&value=" + odata[1];
    }
  })
  //头部搜索 end

  //百度统计代码
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?f169828b4b9b84ee8f69ea581498bf86";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
			//百度统计代码 end
</script>
</body>

</html>
<!-- footer end -->